<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.3-c007 1.136881, 2010/06/10-18:11:35        ">
 <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
  <rdf:Description rdf:about=""
    xmlns:photoshop="http://ns.adobe.com/photoshop/1.0/"
    xmlns:stCamera="http://ns.adobe.com/photoshop/1.0/camera-profile">
   <photoshop:CameraProfiles>
    <rdf:Seq>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="24"
       stCamera:FocusDistance="999999995904"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000026"
        stCamera:ResidualStandardDeviation="0.000023"
        stCamera:RadialDistortParam1="-0.114064"
        stCamera:RadialDistortParam2="0.094834"
        stCamera:RadialDistortParam3="0.004331">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.0006"
        stCamera:RadialDistortParam1="-0.000035"
        stCamera:RadialDistortParam2="-0.00234"
        stCamera:RadialDistortParam3="0.000719"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000026"
        stCamera:ResidualStandardDeviation="0.000023"
        stCamera:RadialDistortParam1="-0.114064"
        stCamera:RadialDistortParam2="0.094834"
        stCamera:RadialDistortParam3="0.004331"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000005"
        stCamera:ResidualStandardDeviation="0.000003"
        stCamera:ScaleFactor="0.999845"
        stCamera:RadialDistortParam1="0.00009"
        stCamera:RadialDistortParam2="0.002308"
        stCamera:RadialDistortParam3="-0.000368"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.003647"
        stCamera:VignetteModelParam1="-0.446969"
        stCamera:VignetteModelParam2="0.387132"
        stCamera:VignetteModelParam3="-1.213469"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="28"
       stCamera:FocusDistance="1"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000012"
        stCamera:ResidualStandardDeviation="0.000009"
        stCamera:RadialDistortParam1="-0.127377"
        stCamera:RadialDistortParam2="0.109488"
        stCamera:RadialDistortParam3="0.006377">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000003"
        stCamera:ScaleFactor="1.000357"
        stCamera:RadialDistortParam1="-0.000695"
        stCamera:RadialDistortParam2="-0.000303"
        stCamera:RadialDistortParam3="-0.002238"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000012"
        stCamera:ResidualStandardDeviation="0.000009"
        stCamera:RadialDistortParam1="-0.127377"
        stCamera:RadialDistortParam2="0.109488"
        stCamera:RadialDistortParam3="0.006377"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000112"
        stCamera:RadialDistortParam1="0.000929"
        stCamera:RadialDistortParam2="0.000305"
        stCamera:RadialDistortParam3="0.002291"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.003463"
        stCamera:VignetteModelParam1="-0.640123"
        stCamera:VignetteModelParam2="0.970707"
        stCamera:VignetteModelParam3="-2.138519"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="28"
       stCamera:FocusDistance="0.6"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000014"
        stCamera:ResidualStandardDeviation="0.000011"
        stCamera:RadialDistortParam1="-0.140461"
        stCamera:RadialDistortParam2="0.11133"
        stCamera:RadialDistortParam3="0.0033">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.000222"
        stCamera:RadialDistortParam1="-0.000799"
        stCamera:RadialDistortParam2="0.000019"
        stCamera:RadialDistortParam3="-0.003115"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000014"
        stCamera:ResidualStandardDeviation="0.000011"
        stCamera:RadialDistortParam1="-0.140461"
        stCamera:RadialDistortParam2="0.11133"
        stCamera:RadialDistortParam3="0.0033"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.00028"
        stCamera:RadialDistortParam1="0.001329"
        stCamera:RadialDistortParam2="-0.001189"
        stCamera:RadialDistortParam3="0.004936"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.00351"
        stCamera:VignetteModelParam1="-0.646007"
        stCamera:VignetteModelParam2="1.096784"
        stCamera:VignetteModelParam3="-2.572551"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="28"
       stCamera:FocusDistance="0.38"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000019"
        stCamera:ResidualStandardDeviation="0.000013"
        stCamera:RadialDistortParam1="-0.161904"
        stCamera:RadialDistortParam2="0.114192"
        stCamera:RadialDistortParam3="-0.00249">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000003"
        stCamera:ScaleFactor="0.999993"
        stCamera:RadialDistortParam1="-0.001033"
        stCamera:RadialDistortParam2="0.001038"
        stCamera:RadialDistortParam3="-0.005612"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000019"
        stCamera:ResidualStandardDeviation="0.000013"
        stCamera:RadialDistortParam1="-0.161904"
        stCamera:RadialDistortParam2="0.114192"
        stCamera:RadialDistortParam3="-0.00249"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.000617"
        stCamera:RadialDistortParam1="0.001268"
        stCamera:RadialDistortParam2="-0.000941"
        stCamera:RadialDistortParam3="0.006486"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.0035"
        stCamera:VignetteModelParam1="-0.65834"
        stCamera:VignetteModelParam2="1.350338"
        stCamera:VignetteModelParam3="-3.461774"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="35"
       stCamera:FocusDistance="999999995904"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.053797"
        stCamera:RadialDistortParam2="0.124474"
        stCamera:RadialDistortParam3="0.003803">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000348"
        stCamera:RadialDistortParam1="-0.000852"
        stCamera:RadialDistortParam2="-0.00077"
        stCamera:RadialDistortParam3="0.000257"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.053797"
        stCamera:RadialDistortParam2="0.124474"
        stCamera:RadialDistortParam3="0.003803"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000003"
        stCamera:ResidualStandardDeviation="0.000003"
        stCamera:ScaleFactor="0.999973"
        stCamera:RadialDistortParam1="0.000664"
        stCamera:RadialDistortParam2="0.002193"
        stCamera:RadialDistortParam3="-0.002721"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000829"
        stCamera:VignetteModelParam1="-0.724175"
        stCamera:VignetteModelParam2="0.302512"
        stCamera:VignetteModelParam3="-0.670248"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="35"
       stCamera:FocusDistance="4"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.059198"
        stCamera:RadialDistortParam2="0.124675"
        stCamera:RadialDistortParam3="0.003809">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000302"
        stCamera:RadialDistortParam1="-0.00079"
        stCamera:RadialDistortParam2="-0.001355"
        stCamera:RadialDistortParam3="0.00118"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.059198"
        stCamera:RadialDistortParam2="0.124675"
        stCamera:RadialDistortParam3="0.003809"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.000036"
        stCamera:RadialDistortParam1="0.000632"
        stCamera:RadialDistortParam2="0.003215"
        stCamera:RadialDistortParam3="-0.004635"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000782"
        stCamera:VignetteModelParam1="-0.722851"
        stCamera:VignetteModelParam2="0.293374"
        stCamera:VignetteModelParam3="-0.679329"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="35"
       stCamera:FocusDistance="1.7"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.066856"
        stCamera:RadialDistortParam2="0.125008"
        stCamera:RadialDistortParam3="0.003525">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000242"
        stCamera:RadialDistortParam1="-0.00087"
        stCamera:RadialDistortParam2="-0.001082"
        stCamera:RadialDistortParam3="0.000314"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.066856"
        stCamera:RadialDistortParam2="0.125008"
        stCamera:RadialDistortParam3="0.003525"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000003"
        stCamera:ResidualStandardDeviation="0.000003"
        stCamera:ScaleFactor="1.000116"
        stCamera:RadialDistortParam1="0.001034"
        stCamera:RadialDistortParam2="0.000862"
        stCamera:RadialDistortParam3="-0.00004"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000784"
        stCamera:VignetteModelParam1="-0.722908"
        stCamera:VignetteModelParam2="0.284592"
        stCamera:VignetteModelParam3="-0.687699"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="35"
       stCamera:FocusDistance="1"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.076744"
        stCamera:RadialDistortParam2="0.125244"
        stCamera:RadialDistortParam3="0.003222">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000173"
        stCamera:RadialDistortParam1="-0.001187"
        stCamera:RadialDistortParam2="0.000523"
        stCamera:RadialDistortParam3="-0.002788"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.076744"
        stCamera:RadialDistortParam2="0.125244"
        stCamera:RadialDistortParam3="0.003222"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000003"
        stCamera:ResidualStandardDeviation="0.000003"
        stCamera:ScaleFactor="1.00023"
        stCamera:RadialDistortParam1="0.001123"
        stCamera:RadialDistortParam2="0.000911"
        stCamera:RadialDistortParam3="0.000028"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000688"
        stCamera:VignetteModelParam1="-0.723462"
        stCamera:VignetteModelParam2="0.281315"
        stCamera:VignetteModelParam3="-0.737294"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="35"
       stCamera:FocusDistance="0.6"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.094288"
        stCamera:RadialDistortParam2="0.125536"
        stCamera:RadialDistortParam3="0.002066">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000019"
        stCamera:RadialDistortParam1="-0.000969"
        stCamera:RadialDistortParam2="-0.001618"
        stCamera:RadialDistortParam3="0.000422"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.094288"
        stCamera:RadialDistortParam2="0.125536"
        stCamera:RadialDistortParam3="0.002066"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000418"
        stCamera:RadialDistortParam1="0.001725"
        stCamera:RadialDistortParam2="-0.002123"
        stCamera:RadialDistortParam3="0.006358"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000729"
        stCamera:VignetteModelParam1="-0.722626"
        stCamera:VignetteModelParam2="0.273221"
        stCamera:VignetteModelParam3="-0.814155"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="35"
       stCamera:FocusDistance="0.38"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:RadialDistortParam1="-0.123668"
        stCamera:RadialDistortParam2="0.125342"
        stCamera:RadialDistortParam3="-0.001104">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="0.999768"
        stCamera:RadialDistortParam1="-0.001346"
        stCamera:RadialDistortParam2="0.000641"
        stCamera:RadialDistortParam3="-0.005724"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:RadialDistortParam1="-0.123668"
        stCamera:RadialDistortParam2="0.125342"
        stCamera:RadialDistortParam3="-0.001104"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000003"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.000796"
        stCamera:RadialDistortParam1="0.001156"
        stCamera:RadialDistortParam2="0.004017"
        stCamera:RadialDistortParam3="-0.003525"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000911"
        stCamera:VignetteModelParam1="-0.717861"
        stCamera:VignetteModelParam2="0.275762"
        stCamera:VignetteModelParam3="-1.070318"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="50"
       stCamera:FocusDistance="999999995904"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.10714"
        stCamera:RadialDistortParam2="0.17514"
        stCamera:RadialDistortParam3="-0.11995">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000003"
        stCamera:ResidualStandardDeviation="0.000003"
        stCamera:ScaleFactor="1.000132"
        stCamera:RadialDistortParam1="-0.001636"
        stCamera:RadialDistortParam2="0.00363"
        stCamera:RadialDistortParam3="-0.012123"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.10714"
        stCamera:RadialDistortParam2="0.17514"
        stCamera:RadialDistortParam3="-0.11995"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000004"
        stCamera:ResidualStandardDeviation="0.000004"
        stCamera:ScaleFactor="0.999871"
        stCamera:RadialDistortParam1="0.002284"
        stCamera:RadialDistortParam2="-0.01231"
        stCamera:RadialDistortParam3="0.034745"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.005146"
        stCamera:VignetteModelParam1="-1.769343"
        stCamera:VignetteModelParam2="12.934969"
        stCamera:VignetteModelParam3="-64.991089"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="24"
       stCamera:FocusDistance="4"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000027"
        stCamera:ResidualStandardDeviation="0.000027"
        stCamera:RadialDistortParam1="-0.117683"
        stCamera:RadialDistortParam2="0.0948"
        stCamera:RadialDistortParam3="0.004055">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000003"
        stCamera:ResidualStandardDeviation="0.000004"
        stCamera:ScaleFactor="1.000565"
        stCamera:RadialDistortParam1="-0.000123"
        stCamera:RadialDistortParam2="-0.002036"
        stCamera:RadialDistortParam3="0.000289"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000027"
        stCamera:ResidualStandardDeviation="0.000027"
        stCamera:RadialDistortParam1="-0.117683"
        stCamera:RadialDistortParam2="0.0948"
        stCamera:RadialDistortParam3="0.004055"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000005"
        stCamera:ResidualStandardDeviation="0.000003"
        stCamera:ScaleFactor="0.999894"
        stCamera:RadialDistortParam1="0.00017"
        stCamera:RadialDistortParam2="0.002129"
        stCamera:RadialDistortParam3="-0.000056"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.004048"
        stCamera:VignetteModelParam1="-0.430571"
        stCamera:VignetteModelParam2="0.305151"
        stCamera:VignetteModelParam3="-1.167083"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="50"
       stCamera:FocusDistance="4"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.09275"
        stCamera:RadialDistortParam2="0.18666"
        stCamera:RadialDistortParam3="-0.129344">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000003"
        stCamera:ResidualStandardDeviation="0.000003"
        stCamera:ScaleFactor="1.000072"
        stCamera:RadialDistortParam1="-0.000702"
        stCamera:RadialDistortParam2="-0.011138"
        stCamera:RadialDistortParam3="0.03756"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.09275"
        stCamera:RadialDistortParam2="0.18666"
        stCamera:RadialDistortParam3="-0.129344"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="0.999991"
        stCamera:RadialDistortParam1="0.000865"
        stCamera:RadialDistortParam2="0.006741"
        stCamera:RadialDistortParam3="-0.029114"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.006226"
        stCamera:VignetteModelParam1="-1.936635"
        stCamera:VignetteModelParam2="16.971231"
        stCamera:VignetteModelParam3="-87.96743"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="50"
       stCamera:FocusDistance="1.7"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.083276"
        stCamera:RadialDistortParam2="0.162847"
        stCamera:RadialDistortParam3="-0.120001">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000005"
        stCamera:ResidualStandardDeviation="0.000006"
        stCamera:ScaleFactor="1.000054"
        stCamera:RadialDistortParam1="-0.005313"
        stCamera:RadialDistortParam2="0.051593"
        stCamera:RadialDistortParam3="-0.189144"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.083276"
        stCamera:RadialDistortParam2="0.162847"
        stCamera:RadialDistortParam3="-0.120001"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000005"
        stCamera:ResidualStandardDeviation="0.000005"
        stCamera:ScaleFactor="1.000151"
        stCamera:RadialDistortParam1="-0.001368"
        stCamera:RadialDistortParam2="0.042508"
        stCamera:RadialDistortParam3="-0.171244"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.002933"
        stCamera:VignetteModelParam1="-1.541985"
        stCamera:VignetteModelParam2="7.676757"
        stCamera:VignetteModelParam3="-37.478394"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="50"
       stCamera:FocusDistance="1"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.058568"
        stCamera:RadialDistortParam2="0.17215"
        stCamera:RadialDistortParam3="-0.133809">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000003"
        stCamera:ResidualStandardDeviation="0.000003"
        stCamera:ScaleFactor="0.999899"
        stCamera:RadialDistortParam1="-0.001192"
        stCamera:RadialDistortParam2="-0.01418"
        stCamera:RadialDistortParam3="0.066413"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.058568"
        stCamera:RadialDistortParam2="0.17215"
        stCamera:RadialDistortParam3="-0.133809"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000003"
        stCamera:ResidualStandardDeviation="0.000003"
        stCamera:ScaleFactor="1.000224"
        stCamera:RadialDistortParam1="0.004412"
        stCamera:RadialDistortParam2="-0.037306"
        stCamera:RadialDistortParam3="0.131656"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.00433"
        stCamera:VignetteModelParam1="-1.701745"
        stCamera:VignetteModelParam2="11.290056"
        stCamera:VignetteModelParam3="-57.124969"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="50"
       stCamera:FocusDistance="0.6"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.020194"
        stCamera:RadialDistortParam2="0.167213"
        stCamera:RadialDistortParam3="-0.148098">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000004"
        stCamera:ResidualStandardDeviation="0.000005"
        stCamera:ScaleFactor="0.999723"
        stCamera:RadialDistortParam1="-0.002161"
        stCamera:RadialDistortParam2="-0.002116"
        stCamera:RadialDistortParam3="0.017524"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.020194"
        stCamera:RadialDistortParam2="0.167213"
        stCamera:RadialDistortParam3="-0.148098"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000005"
        stCamera:ResidualStandardDeviation="0.000004"
        stCamera:ScaleFactor="1.000464"
        stCamera:RadialDistortParam1="0.006019"
        stCamera:RadialDistortParam2="-0.043767"
        stCamera:RadialDistortParam3="0.141601"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.003894"
        stCamera:VignetteModelParam1="-1.636891"
        stCamera:VignetteModelParam2="9.638281"
        stCamera:VignetteModelParam3="-49.012821"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="50"
       stCamera:FocusDistance="0.38"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="-0.047099"
        stCamera:RadialDistortParam2="0.1541"
        stCamera:RadialDistortParam3="-0.180339">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000003"
        stCamera:ResidualStandardDeviation="0.000004"
        stCamera:ScaleFactor="0.999407"
        stCamera:RadialDistortParam1="-0.001116"
        stCamera:RadialDistortParam2="-0.024533"
        stCamera:RadialDistortParam3="0.103357"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="-0.047099"
        stCamera:RadialDistortParam2="0.1541"
        stCamera:RadialDistortParam3="-0.180339"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000003"
        stCamera:ResidualStandardDeviation="0.000003"
        stCamera:ScaleFactor="1.00097"
        stCamera:RadialDistortParam1="0.003535"
        stCamera:RadialDistortParam2="0.002652"
        stCamera:RadialDistortParam3="-0.029112"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.002872"
        stCamera:VignetteModelParam1="-1.513719"
        stCamera:VignetteModelParam2="7.044034"
        stCamera:VignetteModelParam3="-37.751743"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="70"
       stCamera:FocusDistance="999999995904"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.28226"
        stCamera:RadialDistortParam2="0.22545"
        stCamera:RadialDistortParam3="-0.596694">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:ScaleFactor="0.999933"
        stCamera:RadialDistortParam1="-0.002166"
        stCamera:RadialDistortParam2="0.008498"
        stCamera:RadialDistortParam3="-0.116821"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.28226"
        stCamera:RadialDistortParam2="0.22545"
        stCamera:RadialDistortParam3="-0.596694"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:ScaleFactor="0.999766"
        stCamera:RadialDistortParam1="0.001201"
        stCamera:RadialDistortParam2="-0.002425"
        stCamera:RadialDistortParam3="0.129277"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.006684"
        stCamera:VignetteModelParam1="-2.238751"
        stCamera:VignetteModelParam2="33.367706"
        stCamera:VignetteModelParam3="-689.284546"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="70"
       stCamera:FocusDistance="4"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.259193"
        stCamera:RadialDistortParam2="0.220583"
        stCamera:RadialDistortParam3="-0.609828">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:ScaleFactor="0.999871"
        stCamera:RadialDistortParam1="-0.002588"
        stCamera:RadialDistortParam2="0.011599"
        stCamera:RadialDistortParam3="-0.130407"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.259193"
        stCamera:RadialDistortParam2="0.220583"
        stCamera:RadialDistortParam3="-0.609828"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:ScaleFactor="0.999885"
        stCamera:RadialDistortParam1="0.002416"
        stCamera:RadialDistortParam2="-0.026308"
        stCamera:RadialDistortParam3="0.309427"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.006486"
        stCamera:VignetteModelParam1="-2.422017"
        stCamera:VignetteModelParam2="42.702934"
        stCamera:VignetteModelParam3="-779.342529"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="70"
       stCamera:FocusDistance="1.7"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.226108"
        stCamera:RadialDistortParam2="0.21384"
        stCamera:RadialDistortParam3="-0.644019">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:ScaleFactor="0.999783"
        stCamera:RadialDistortParam1="-0.00316"
        stCamera:RadialDistortParam2="0.020877"
        stCamera:RadialDistortParam3="-0.207912"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.226108"
        stCamera:RadialDistortParam2="0.21384"
        stCamera:RadialDistortParam3="-0.644019"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:ScaleFactor="1.000055"
        stCamera:RadialDistortParam1="0.003138"
        stCamera:RadialDistortParam2="-0.036051"
        stCamera:RadialDistortParam3="0.390455"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.006362"
        stCamera:VignetteModelParam1="-2.677176"
        stCamera:VignetteModelParam2="55.172245"
        stCamera:VignetteModelParam3="-900.157654"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="70"
       stCamera:FocusDistance="1"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.182672"
        stCamera:RadialDistortParam2="0.200614"
        stCamera:RadialDistortParam3="-0.679251">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0"
        stCamera:ScaleFactor="0.999678"
        stCamera:RadialDistortParam1="-0.004227"
        stCamera:RadialDistortParam2="0.038985"
        stCamera:RadialDistortParam3="-0.341949"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.182672"
        stCamera:RadialDistortParam2="0.200614"
        stCamera:RadialDistortParam3="-0.679251"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:ScaleFactor="1.000263"
        stCamera:RadialDistortParam1="0.004514"
        stCamera:RadialDistortParam2="-0.059613"
        stCamera:RadialDistortParam3="0.575147"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.006592"
        stCamera:VignetteModelParam1="-3.010138"
        stCamera:VignetteModelParam2="70.915581"
        stCamera:VignetteModelParam3="-1053.570435"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="70"
       stCamera:FocusDistance="0.6"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.103366"
        stCamera:RadialDistortParam2="0.170021"
        stCamera:RadialDistortParam3="-0.755345">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="0.999468"
        stCamera:RadialDistortParam1="-0.004452"
        stCamera:RadialDistortParam2="0.04151"
        stCamera:RadialDistortParam3="-0.399884"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.103366"
        stCamera:RadialDistortParam2="0.170021"
        stCamera:RadialDistortParam3="-0.755345"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000602"
        stCamera:RadialDistortParam1="0.007332"
        stCamera:RadialDistortParam2="-0.113487"
        stCamera:RadialDistortParam3="1.017964"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.007813"
        stCamera:VignetteModelParam1="-3.606415"
        stCamera:VignetteModelParam2="100.189247"
        stCamera:VignetteModelParam3="-1345.108521"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="24"
       stCamera:FocusDistance="1.7"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.00003"
        stCamera:ResidualStandardDeviation="0.000033"
        stCamera:RadialDistortParam1="-0.122727"
        stCamera:RadialDistortParam2="0.094481"
        stCamera:RadialDistortParam3="0.003905">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.000511"
        stCamera:RadialDistortParam1="-0.000117"
        stCamera:RadialDistortParam2="-0.002106"
        stCamera:RadialDistortParam3="0.000148"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.00003"
        stCamera:ResidualStandardDeviation="0.000033"
        stCamera:RadialDistortParam1="-0.122727"
        stCamera:RadialDistortParam2="0.094481"
        stCamera:RadialDistortParam3="0.003905"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000005"
        stCamera:ResidualStandardDeviation="0.000003"
        stCamera:ScaleFactor="0.999966"
        stCamera:RadialDistortParam1="0.000319"
        stCamera:RadialDistortParam2="0.001765"
        stCamera:RadialDistortParam3="0.000469"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.004712"
        stCamera:VignetteModelParam1="-0.411482"
        stCamera:VignetteModelParam2="0.212094"
        stCamera:VignetteModelParam3="-1.127712"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="70"
       stCamera:FocusDistance="0.38"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="-0.037912"
        stCamera:RadialDistortParam2="0.104361"
        stCamera:RadialDistortParam3="-0.926915">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="0.999167"
        stCamera:RadialDistortParam1="-0.008283"
        stCamera:RadialDistortParam2="0.114828"
        stCamera:RadialDistortParam3="-0.976217"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="-0.037912"
        stCamera:RadialDistortParam2="0.104361"
        stCamera:RadialDistortParam3="-0.926915"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.00116"
        stCamera:RadialDistortParam1="0.009656"
        stCamera:RadialDistortParam2="-0.152567"
        stCamera:RadialDistortParam3="1.450682"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.010028"
        stCamera:VignetteModelParam1="-4.550331"
        stCamera:VignetteModelParam2="147.397247"
        stCamera:VignetteModelParam3="-1841.184326"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="24"
       stCamera:FocusDistance="1"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000035"
        stCamera:ResidualStandardDeviation="0.000044"
        stCamera:RadialDistortParam1="-0.129094"
        stCamera:RadialDistortParam2="0.093538"
        stCamera:RadialDistortParam3="0.004209">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.000442"
        stCamera:RadialDistortParam1="-0.000256"
        stCamera:RadialDistortParam2="-0.001765"
        stCamera:RadialDistortParam3="-0.000297"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000035"
        stCamera:ResidualStandardDeviation="0.000044"
        stCamera:RadialDistortParam1="-0.129094"
        stCamera:RadialDistortParam2="0.093538"
        stCamera:RadialDistortParam3="0.004209"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000006"
        stCamera:ResidualStandardDeviation="0.000004"
        stCamera:ScaleFactor="1.000085"
        stCamera:RadialDistortParam1="0.000076"
        stCamera:RadialDistortParam2="0.002623"
        stCamera:RadialDistortParam3="0.000148"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.005401"
        stCamera:VignetteModelParam1="-0.392291"
        stCamera:VignetteModelParam2="0.131558"
        stCamera:VignetteModelParam3="-1.136072"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="24"
       stCamera:FocusDistance="0.6"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000049"
        stCamera:ResidualStandardDeviation="0.000072"
        stCamera:RadialDistortParam1="-0.139837"
        stCamera:RadialDistortParam2="0.089912"
        stCamera:RadialDistortParam3="0.006683">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.000297"
        stCamera:RadialDistortParam1="-0.000124"
        stCamera:RadialDistortParam2="-0.002135"
        stCamera:RadialDistortParam3="-0.000612"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000049"
        stCamera:ResidualStandardDeviation="0.000072"
        stCamera:RadialDistortParam1="-0.139837"
        stCamera:RadialDistortParam2="0.089912"
        stCamera:RadialDistortParam3="0.006683"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000005"
        stCamera:ResidualStandardDeviation="0.000005"
        stCamera:ScaleFactor="1.00027"
        stCamera:RadialDistortParam1="0.000189"
        stCamera:RadialDistortParam2="0.002341"
        stCamera:RadialDistortParam3="0.001074"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.006668"
        stCamera:VignetteModelParam1="-0.357234"
        stCamera:VignetteModelParam2="0.016567"
        stCamera:VignetteModelParam3="-1.175893"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="24"
       stCamera:FocusDistance="0.38"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000113"
        stCamera:ResidualStandardDeviation="0.000152"
        stCamera:RadialDistortParam1="-0.15552"
        stCamera:RadialDistortParam2="0.074678"
        stCamera:RadialDistortParam3="0.020429">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000004"
        stCamera:ResidualStandardDeviation="0.000005"
        stCamera:ScaleFactor="1.000052"
        stCamera:RadialDistortParam1="-0.000228"
        stCamera:RadialDistortParam2="-0.001766"
        stCamera:RadialDistortParam3="-0.001879"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000113"
        stCamera:ResidualStandardDeviation="0.000152"
        stCamera:RadialDistortParam1="-0.15552"
        stCamera:RadialDistortParam2="0.074678"
        stCamera:RadialDistortParam3="0.020429"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000007"
        stCamera:ResidualStandardDeviation="0.000007"
        stCamera:ScaleFactor="1.000592"
        stCamera:RadialDistortParam1="0.000203"
        stCamera:RadialDistortParam2="0.002442"
        stCamera:RadialDistortParam3="0.002377"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.009293"
        stCamera:VignetteModelParam1="-0.24849"
        stCamera:VignetteModelParam2="-0.241277"
        stCamera:VignetteModelParam3="-1.023759"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="28"
       stCamera:FocusDistance="999999995904"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000009"
        stCamera:ResidualStandardDeviation="0.000007"
        stCamera:RadialDistortParam1="-0.110023"
        stCamera:RadialDistortParam2="0.107098"
        stCamera:RadialDistortParam3="0.009748">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000525"
        stCamera:RadialDistortParam1="-0.000539"
        stCamera:RadialDistortParam2="-0.000876"
        stCamera:RadialDistortParam3="-0.000717"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000009"
        stCamera:ResidualStandardDeviation="0.000007"
        stCamera:RadialDistortParam1="-0.110023"
        stCamera:RadialDistortParam2="0.107098"
        stCamera:RadialDistortParam3="0.009748"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="0.999878"
        stCamera:RadialDistortParam1="0.000874"
        stCamera:RadialDistortParam2="-0.000183"
        stCamera:RadialDistortParam3="0.002154"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.00339"
        stCamera:VignetteModelParam1="-0.623536"
        stCamera:VignetteModelParam2="0.763706"
        stCamera:VignetteModelParam3="-1.578112"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="28"
       stCamera:FocusDistance="4"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000009"
        stCamera:ResidualStandardDeviation="0.000007"
        stCamera:RadialDistortParam1="-0.114133"
        stCamera:RadialDistortParam2="0.10766"
        stCamera:RadialDistortParam3="0.009023">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.000491"
        stCamera:RadialDistortParam1="-0.000699"
        stCamera:RadialDistortParam2="-0.000196"
        stCamera:RadialDistortParam3="-0.001658"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000009"
        stCamera:ResidualStandardDeviation="0.000007"
        stCamera:RadialDistortParam1="-0.114133"
        stCamera:RadialDistortParam2="0.10766"
        stCamera:RadialDistortParam3="0.009023"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="0.999935"
        stCamera:RadialDistortParam1="0.000868"
        stCamera:RadialDistortParam2="-0.000013"
        stCamera:RadialDistortParam3="0.002131"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.003438"
        stCamera:VignetteModelParam1="-0.628051"
        stCamera:VignetteModelParam2="0.809985"
        stCamera:VignetteModelParam3="-1.697425"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="28"
       stCamera:FocusDistance="1.7"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.00001"
        stCamera:ResidualStandardDeviation="0.000008"
        stCamera:RadialDistortParam1="-0.119928"
        stCamera:RadialDistortParam2="0.108451"
        stCamera:RadialDistortParam3="0.007935">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.000429"
        stCamera:RadialDistortParam1="-0.000611"
        stCamera:RadialDistortParam2="-0.000639"
        stCamera:RadialDistortParam3="-0.001421"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.00001"
        stCamera:ResidualStandardDeviation="0.000008"
        stCamera:RadialDistortParam1="-0.119928"
        stCamera:RadialDistortParam2="0.108451"
        stCamera:RadialDistortParam3="0.007935"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000015"
        stCamera:RadialDistortParam1="0.00083"
        stCamera:RadialDistortParam2="0.000397"
        stCamera:RadialDistortParam3="0.001957"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.003529"
        stCamera:VignetteModelParam1="-0.634556"
        stCamera:VignetteModelParam2="0.88645"
        stCamera:VignetteModelParam3="-1.893733"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="24"
       stCamera:FocusDistance="999999995904"
       stCamera:ApertureValue="4.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000026"
        stCamera:ResidualStandardDeviation="0.000023"
        stCamera:RadialDistortParam1="-0.114064"
        stCamera:RadialDistortParam2="0.094834"
        stCamera:RadialDistortParam3="0.004331">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000006"
        stCamera:ResidualStandardDeviation="0.000005"
        stCamera:ScaleFactor="1.000634"
        stCamera:RadialDistortParam1="0.00017"
        stCamera:RadialDistortParam2="-0.00287"
        stCamera:RadialDistortParam3="0.000879"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000026"
        stCamera:ResidualStandardDeviation="0.000023"
        stCamera:RadialDistortParam1="-0.114064"
        stCamera:RadialDistortParam2="0.094834"
        stCamera:RadialDistortParam3="0.004331"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000006"
        stCamera:ResidualStandardDeviation="0.000004"
        stCamera:ScaleFactor="0.999764"
        stCamera:RadialDistortParam1="0.000306"
        stCamera:RadialDistortParam2="0.001559"
        stCamera:RadialDistortParam3="0.000487"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.006973"
        stCamera:VignetteModelParam1="-0.578989"
        stCamera:VignetteModelParam2="0.971269"
        stCamera:VignetteModelParam3="-1.504386"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="28"
       stCamera:FocusDistance="1"
       stCamera:ApertureValue="4.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000012"
        stCamera:ResidualStandardDeviation="0.000009"
        stCamera:RadialDistortParam1="-0.127377"
        stCamera:RadialDistortParam2="0.109488"
        stCamera:RadialDistortParam3="0.006377">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000436"
        stCamera:RadialDistortParam1="-0.001003"
        stCamera:RadialDistortParam2="0.000483"
        stCamera:RadialDistortParam3="-0.002857"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000012"
        stCamera:ResidualStandardDeviation="0.000009"
        stCamera:RadialDistortParam1="-0.127377"
        stCamera:RadialDistortParam2="0.109488"
        stCamera:RadialDistortParam3="0.006377"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000014"
        stCamera:RadialDistortParam1="0.001268"
        stCamera:RadialDistortParam2="-0.001003"
        stCamera:RadialDistortParam3="0.00392"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000274"
        stCamera:VignetteModelParam1="-0.504929"
        stCamera:VignetteModelParam2="-0.248028"
        stCamera:VignetteModelParam3="0.231881"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="28"
       stCamera:FocusDistance="0.6"
       stCamera:ApertureValue="4.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000014"
        stCamera:ResidualStandardDeviation="0.000011"
        stCamera:RadialDistortParam1="-0.140461"
        stCamera:RadialDistortParam2="0.11133"
        stCamera:RadialDistortParam3="0.0033">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.0003"
        stCamera:RadialDistortParam1="-0.000949"
        stCamera:RadialDistortParam2="0.000249"
        stCamera:RadialDistortParam3="-0.003386"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000014"
        stCamera:ResidualStandardDeviation="0.000011"
        stCamera:RadialDistortParam1="-0.140461"
        stCamera:RadialDistortParam2="0.11133"
        stCamera:RadialDistortParam3="0.0033"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000196"
        stCamera:RadialDistortParam1="0.001466"
        stCamera:RadialDistortParam2="-0.001517"
        stCamera:RadialDistortParam3="0.005184"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000723"
        stCamera:VignetteModelParam1="-0.516568"
        stCamera:VignetteModelParam2="-0.152799"
        stCamera:VignetteModelParam3="0.012837"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="28"
       stCamera:FocusDistance="0.38"
       stCamera:ApertureValue="4.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000019"
        stCamera:ResidualStandardDeviation="0.000013"
        stCamera:RadialDistortParam1="-0.161904"
        stCamera:RadialDistortParam2="0.114192"
        stCamera:RadialDistortParam3="-0.00249">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.000059"
        stCamera:RadialDistortParam1="-0.001079"
        stCamera:RadialDistortParam2="0.000936"
        stCamera:RadialDistortParam3="-0.005738"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000019"
        stCamera:ResidualStandardDeviation="0.000013"
        stCamera:RadialDistortParam1="-0.161904"
        stCamera:RadialDistortParam2="0.114192"
        stCamera:RadialDistortParam3="-0.00249"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.000518"
        stCamera:RadialDistortParam1="0.001586"
        stCamera:RadialDistortParam2="-0.002044"
        stCamera:RadialDistortParam3="0.00766"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.002175"
        stCamera:VignetteModelParam1="-0.54533"
        stCamera:VignetteModelParam2="0.12362"
        stCamera:VignetteModelParam3="-0.61946"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="35"
       stCamera:FocusDistance="999999995904"
       stCamera:ApertureValue="4.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.053797"
        stCamera:RadialDistortParam2="0.124474"
        stCamera:RadialDistortParam3="0.003803">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.00042"
        stCamera:RadialDistortParam1="-0.001047"
        stCamera:RadialDistortParam2="-0.000252"
        stCamera:RadialDistortParam3="-0.00015"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.053797"
        stCamera:RadialDistortParam2="0.124474"
        stCamera:RadialDistortParam3="0.003803"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:ScaleFactor="0.999861"
        stCamera:RadialDistortParam1="0.001424"
        stCamera:RadialDistortParam2="-0.001091"
        stCamera:RadialDistortParam3="0.001822"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000235"
        stCamera:VignetteModelParam1="-0.693385"
        stCamera:VignetteModelParam2="-0.077377"
        stCamera:VignetteModelParam3="0.3609"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="35"
       stCamera:FocusDistance="4"
       stCamera:ApertureValue="4.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.059198"
        stCamera:RadialDistortParam2="0.124675"
        stCamera:RadialDistortParam3="0.003809">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:ScaleFactor="1.000381"
        stCamera:RadialDistortParam1="-0.001152"
        stCamera:RadialDistortParam2="0.000361"
        stCamera:RadialDistortParam3="-0.001593"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.059198"
        stCamera:RadialDistortParam2="0.124675"
        stCamera:RadialDistortParam3="0.003809"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000003"
        stCamera:ResidualStandardDeviation="0.000004"
        stCamera:ScaleFactor="0.999905"
        stCamera:RadialDistortParam1="0.001838"
        stCamera:RadialDistortParam2="-0.002429"
        stCamera:RadialDistortParam3="0.003227"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000228"
        stCamera:VignetteModelParam1="-0.690159"
        stCamera:VignetteModelParam2="-0.126161"
        stCamera:VignetteModelParam3="0.451343"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="35"
       stCamera:FocusDistance="1.7"
       stCamera:ApertureValue="4.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.066856"
        stCamera:RadialDistortParam2="0.125008"
        stCamera:RadialDistortParam3="0.003525">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000318"
        stCamera:RadialDistortParam1="-0.001099"
        stCamera:RadialDistortParam2="-0.000336"
        stCamera:RadialDistortParam3="-0.000556"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.066856"
        stCamera:RadialDistortParam2="0.125008"
        stCamera:RadialDistortParam3="0.003525"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000002"
        stCamera:RadialDistortParam1="0.001659"
        stCamera:RadialDistortParam2="-0.001706"
        stCamera:RadialDistortParam3="0.003381"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000247"
        stCamera:VignetteModelParam1="-0.684572"
        stCamera:VignetteModelParam2="-0.171248"
        stCamera:VignetteModelParam3="0.50749"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="35"
       stCamera:FocusDistance="1"
       stCamera:ApertureValue="4.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.076744"
        stCamera:RadialDistortParam2="0.125244"
        stCamera:RadialDistortParam3="0.003222">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000241"
        stCamera:RadialDistortParam1="-0.001163"
        stCamera:RadialDistortParam2="-0.000299"
        stCamera:RadialDistortParam3="-0.000942"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.076744"
        stCamera:RadialDistortParam2="0.125244"
        stCamera:RadialDistortParam3="0.003222"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000113"
        stCamera:RadialDistortParam1="0.001791"
        stCamera:RadialDistortParam2="-0.002151"
        stCamera:RadialDistortParam3="0.004849"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000257"
        stCamera:VignetteModelParam1="-0.685858"
        stCamera:VignetteModelParam2="-0.170755"
        stCamera:VignetteModelParam3="0.473538"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="35"
       stCamera:FocusDistance="0.6"
       stCamera:ApertureValue="4.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.094288"
        stCamera:RadialDistortParam2="0.125536"
        stCamera:RadialDistortParam3="0.002066">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000109"
        stCamera:RadialDistortParam1="-0.001614"
        stCamera:RadialDistortParam2="0.001903"
        stCamera:RadialDistortParam3="-0.00543"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:RadialDistortParam1="-0.094288"
        stCamera:RadialDistortParam2="0.125536"
        stCamera:RadialDistortParam3="0.002066"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000328"
        stCamera:RadialDistortParam1="0.001556"
        stCamera:RadialDistortParam2="0.000417"
        stCamera:RadialDistortParam3="0.001088"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000215"
        stCamera:VignetteModelParam1="-0.674515"
        stCamera:VignetteModelParam2="-0.26754"
        stCamera:VignetteModelParam3="0.588724"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="35"
       stCamera:FocusDistance="0.38"
       stCamera:ApertureValue="4.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:RadialDistortParam1="-0.123668"
        stCamera:RadialDistortParam2="0.125342"
        stCamera:RadialDistortParam3="-0.001104">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="0.999851"
        stCamera:RadialDistortParam1="-0.001606"
        stCamera:RadialDistortParam2="0.001756"
        stCamera:RadialDistortParam3="-0.007763"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:RadialDistortParam1="-0.123668"
        stCamera:RadialDistortParam2="0.125342"
        stCamera:RadialDistortParam3="-0.001104"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.000675"
        stCamera:RadialDistortParam1="0.002104"
        stCamera:RadialDistortParam2="-0.001731"
        stCamera:RadialDistortParam3="0.006592"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000253"
        stCamera:VignetteModelParam1="-0.666198"
        stCamera:VignetteModelParam2="-0.346704"
        stCamera:VignetteModelParam3="0.601848"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="50"
       stCamera:FocusDistance="999999995904"
       stCamera:ApertureValue="4.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.10714"
        stCamera:RadialDistortParam2="0.17514"
        stCamera:RadialDistortParam3="-0.11995">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.0002"
        stCamera:RadialDistortParam1="-0.001651"
        stCamera:RadialDistortParam2="-0.00461"
        stCamera:RadialDistortParam3="0.029927"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.10714"
        stCamera:RadialDistortParam2="0.17514"
        stCamera:RadialDistortParam3="-0.11995"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="0.999799"
        stCamera:RadialDistortParam1="0.002302"
        stCamera:RadialDistortParam2="-0.00962"
        stCamera:RadialDistortParam3="0.020741"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000669"
        stCamera:VignetteModelParam1="-1.315215"
        stCamera:VignetteModelParam2="1.536021"
        stCamera:VignetteModelParam3="-3.664133"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="24"
       stCamera:FocusDistance="4"
       stCamera:ApertureValue="4.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000027"
        stCamera:ResidualStandardDeviation="0.000027"
        stCamera:RadialDistortParam1="-0.117683"
        stCamera:RadialDistortParam2="0.0948"
        stCamera:RadialDistortParam3="0.004055">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000006"
        stCamera:ResidualStandardDeviation="0.000004"
        stCamera:ScaleFactor="1.00059"
        stCamera:RadialDistortParam1="0.000188"
        stCamera:RadialDistortParam2="-0.002895"
        stCamera:RadialDistortParam3="0.000724"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000027"
        stCamera:ResidualStandardDeviation="0.000027"
        stCamera:RadialDistortParam1="-0.117683"
        stCamera:RadialDistortParam2="0.0948"
        stCamera:RadialDistortParam3="0.004055"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000004"
        stCamera:ResidualStandardDeviation="0.000004"
        stCamera:ScaleFactor="0.999808"
        stCamera:RadialDistortParam1="0.000432"
        stCamera:RadialDistortParam2="0.001296"
        stCamera:RadialDistortParam3="0.000859"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.006354"
        stCamera:VignetteModelParam1="-0.571726"
        stCamera:VignetteModelParam2="0.951824"
        stCamera:VignetteModelParam3="-1.524355"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="50"
       stCamera:FocusDistance="4"
       stCamera:ApertureValue="4.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.09275"
        stCamera:RadialDistortParam2="0.18666"
        stCamera:RadialDistortParam3="-0.129344">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000003"
        stCamera:ScaleFactor="1.000149"
        stCamera:RadialDistortParam1="-0.001382"
        stCamera:RadialDistortParam2="-0.008893"
        stCamera:RadialDistortParam3="0.045392"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.09275"
        stCamera:RadialDistortParam2="0.18666"
        stCamera:RadialDistortParam3="-0.129344"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000003"
        stCamera:ScaleFactor="0.99989"
        stCamera:RadialDistortParam1="0.002119"
        stCamera:RadialDistortParam2="-0.006199"
        stCamera:RadialDistortParam3="0.014319"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.002194"
        stCamera:VignetteModelParam1="-1.448166"
        stCamera:VignetteModelParam2="4.227783"
        stCamera:VignetteModelParam3="-16.877872"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="50"
       stCamera:FocusDistance="1.7"
       stCamera:ApertureValue="4.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.083276"
        stCamera:RadialDistortParam2="0.162847"
        stCamera:RadialDistortParam3="-0.120001">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.000081"
        stCamera:RadialDistortParam1="-0.002485"
        stCamera:RadialDistortParam2="0.002548"
        stCamera:RadialDistortParam3="0.006684"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.083276"
        stCamera:RadialDistortParam2="0.162847"
        stCamera:RadialDistortParam3="-0.120001"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000003"
        stCamera:ScaleFactor="1.000006"
        stCamera:RadialDistortParam1="0.002081"
        stCamera:RadialDistortParam2="-0.000083"
        stCamera:RadialDistortParam3="-0.015397"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.0002"
        stCamera:VignetteModelParam1="-1.257178"
        stCamera:VignetteModelParam2="0.515827"
        stCamera:VignetteModelParam3="1.000078"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="50"
       stCamera:FocusDistance="1"
       stCamera:ApertureValue="4.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.058568"
        stCamera:RadialDistortParam2="0.17215"
        stCamera:RadialDistortParam3="-0.133809">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="0.999976"
        stCamera:RadialDistortParam1="-0.001923"
        stCamera:RadialDistortParam2="-0.001298"
        stCamera:RadialDistortParam3="0.007122"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.058568"
        stCamera:RadialDistortParam2="0.17215"
        stCamera:RadialDistortParam3="-0.133809"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.000181"
        stCamera:RadialDistortParam1="0.001063"
        stCamera:RadialDistortParam2="0.017456"
        stCamera:RadialDistortParam3="-0.077011"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000363"
        stCamera:VignetteModelParam1="-1.290065"
        stCamera:VignetteModelParam2="0.919005"
        stCamera:VignetteModelParam3="-1.131309"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 24-70mm F2.8 IF EX DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 24-70mm F2.8 IF EX DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="50"
       stCamera:FocusDistance="0.6"
       stCamera:ApertureValue="4.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.020194"
        stCamera:RadialDistortParam2="0.167213"
        stCamera:RadialDistortParam3="-0.148098">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="0.999829"
        stCamera:RadialDistortParam1="-0.003457"
        stCamera:RadialDistortParam2="0.011976"
        stCamera:RadialDistortParam3="-0.034372"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDe