.RedString {
	COLOR: red
}
.GreenString {
	COLOR: green
}
.Title {
	FONT-WEIGHT: bolder; COLOR: white; BACKGROUND-COLOR: blue
}
.Example {
	FONT-SIZE: smaller; WIDTH: 760px; COLOR: navy; FONT-FAMILY: "Courier New", Courier, monospace; BACKGROUND-COLOR: yellow
}
