<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.3-c007 1.136881, 2010/06/10-18:11:35        ">
 <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
  <rdf:Description rdf:about=""
    xmlns:photoshop="http://ns.adobe.com/photoshop/1.0/"
    xmlns:stCamera="http://ns.adobe.com/photoshop/1.0/camera-profile">
   <photoshop:CameraProfiles>
    <rdf:Seq>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe Systems, Inc."
       stCamera:Make="Canon"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="174"
       stCamera:Lens="120-300mm"
       stCamera:LensInfo="120/1 300/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon"
       stCamera:LensPrettyName="SIGMA APO 120-300mm F2.8 EX DG OS HSM"
       stCamera:ProfileName="Adobe (SIGMA APO 120-300mm F2.8 EX DG OS HSM, Canon)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="120"
       stCamera:FocusDistance="999999995904"
       stCamera:ApertureValue="2.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.125159"
        stCamera:RadialDistortParam2="-1.015822"
        stCamera:RadialDistortParam3="-9.05159">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:ScaleFactor="1.000414"
        stCamera:RadialDistortParam1="-0.002271"
        stCamera:RadialDistortParam2="-0.10561"
        stCamera:RadialDistortParam3="2.42245"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1="0.125159"
        stCamera:RadialDistortParam2="-1.015822"
        stCamera:RadialDistortParam3="-9.05159"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:ScaleFactor="0.999747"
        stCamera:RadialDistortParam1="0.007743"
        stCamera:RadialDistortParam2="-0.142803"
        stCamera:RadialDistortParam3="2.458516"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.003891"
        stCamera:VignetteModelParam1="-3.692348"
        stCamera:VignetteModelParam2="463.872314"
        stCamera:VignetteModelParam3="-15147.466797"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe Systems, Inc."
       stCamera:Make="Canon"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="174"
       stCamera:Lens="120-300mm"
       stCamera:LensInfo="120/1 300/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon"
       stCamera:LensPrettyName="SIGMA APO 120-300mm F2.8 EX DG OS HSM"
       stCamera:ProfileName="Adobe (SIGMA APO 120-300mm F2.8 EX DG OS HSM, Canon)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="150"
       stCamera:FocusDistance="1.5"
       stCamera:ApertureValue="2.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0"
        stCamera:ResidualStandardDeviation="0"
        stCamera:RadialDistortParam1=