<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.3-c007 1.136881, 2010/06/10-18:11:35        ">
 <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
  <rdf:Description rdf:about=""
    xmlns:photoshop="http://ns.adobe.com/photoshop/1.0/"
    xmlns:stCamera="http://ns.adobe.com/photoshop/1.0/camera-profile">
   <photoshop:CameraProfiles>
    <rdf:Seq>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SIGMA"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SIGMA"
       stCamera:LensPrettyName="SIGMA 28-70mm F2.8-4 DG"
       stCamera:ProfileName="Adobe (SIGMA 28-70mm F2.8-4 DG, SIGMA)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="28"
       stCamera:FocusDistance="999999995904"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.00003"
        stCamera:ResidualStandardDeviation="0.000021"
        stCamera:RadialDistortParam1="-0.127378"
        stCamera:RadialDistortParam2="0.076686"
        stCamera:RadialDistortParam3="0.022461">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000001"
        stCamera:ResidualStandardDeviation="0.000001"
        stCamera:ScaleFactor="1.000561"
        stCamera:RadialDistortParam1="-0.000785"
        stCamera:RadialDistortParam2="-0.000838"
        stCamera:RadialDistortParam3="0.001314"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.00003"
        stCamera:ResidualStandardDeviation="0.000021"
        stCamera:RadialDistortParam1="-0.127378"
        stCamera:RadialDistortParam2="0.076686"
        stCamera:RadialDistortParam3="0.022461"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000002"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="0.99966"
        stCamera:RadialDistortParam1="0.002"
        stCamera:RadialDistortParam2="-0.002898"
        stCamera:RadialDistortParam3="0.002619"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.003392"
        stCamera:VignetteModelParam1="-0.612583"
        stCamera:VignetteModelParam2="-0.845831"
        stCamera:VignetteModelParam3="-0.018373"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SIGMA"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SIGMA"
       stCamera:LensPrettyName="SIGMA 28-70mm F2.8-4 DG"
       stCamera:ProfileName="Adobe (SIGMA 28-70mm F2.8-4 DG, SIGMA)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="35"
       stCamera:FocusDistance="0.5"
       stCamera:ApertureValue="4.33985">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000007"
        stCamera:ResidualStandardDeviation="0.000005"
        stCamera:RadialDistortParam1="-0.089554"
        stCamera:RadialDistortParam2="0.109429"
        stCamera:RadialDistortParam3="0.068965">
       <stCamera:ChromaticRedGreenModel
        stCamera: