<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.3-c007 1.136881, 2010/06/10-18:11:35        ">
 <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
  <rdf:Description rdf:about=""
    xmlns:photoshop="http://ns.adobe.com/photoshop/1.0/"
    xmlns:stCamera="http://ns.adobe.com/photoshop/1.0/camera-profile">
   <photoshop:CameraProfiles>
    <rdf:Seq>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SIGMA"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SIGMA"
       stCamera:LensPrettyName="SIGMA 12-24mm F4.5-5.6 EX DG ASPHERICAL HSM"
       stCamera:ProfileName="Adobe (SIGMA 12-24mm F4.5-5.6 EX DG ASPHERICAL HSM, SIGMA)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="12"
       stCamera:FocusDistance="999999995904"
       stCamera:ApertureValue="5.310704">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000401"
        stCamera:ResidualStandardDeviation="0.00024"
        stCamera:RadialDistortParam1="-0.020234"
        stCamera:RadialDistortParam2="0.002322"
        stCamera:RadialDistortParam3="-0.000009">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000016"
        stCamera:ResidualStandardDeviation="0.000011"
        stCamera:ScaleFactor="0.999336"
        stCamera:RadialDistortParam1="0.002001"
        stCamera:RadialDistortParam2="-0.00117"
        stCamera:RadialDistortParam3="0.00021"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000401"
        stCamera:ResidualStandardDeviation="0.00024"
        stCamera:RadialDistortParam1="-0.020234"
        stCamera:RadialDistortParam2="0.002322"
        stCamera:RadialDistortParam3="-0.000009"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000013"
        stCamera:ResidualStandardDeviation="0.000008"
        stCamera:ScaleFactor="1.001258"
        stCamera:RadialDistortParam1="-0.002544"
        stCamera:RadialDistortParam2="0.001452"
        stCamera:RadialDistortParam3="-0.000254"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.005521"
        stCamera:VignetteModelParam1="-0.262593"
        stCamera:VignetteModelParam2="-0.013737"
        stCamera:VignetteModelParam3="0.006893"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="SIGMA"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SIGMA"
       stCamera:LensPrettyName="SIGMA 12-24mm F4.5-5.6 EX DG ASPHERICAL HSM"
       stCamera:ProfileName="Adobe (SIGMA 12-24mm F4.5-5.6 EX DG ASPHERICAL HSM, SIGMA)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="15"
       stCamera:FocusDistance="2"
       stCamera:ApertureValue="5.655638">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000105"
        stCamera:ResidualStandardDeviation="0.000076"
        stCamera:RadialDistortParam1="-0.021001"
        stCamera:RadialDistortParam2="0.010204"
        stCamera:RadialDistortParam3="-0.001977">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000004"
        stCamera:ResidualStandardDeviation="0.000004"
        stCamera:ScaleFactor="0.999