<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 4.2-c020 1.124078, Tue Sep 11 2007 23:21:40        ">
 <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
  <rdf:Description rdf:about=""
    xmlns:photoshop="http://ns.adobe.com/photoshop/1.0/"
    xmlns:stCamera="http://ns.adobe.com/photoshop/1.0/camera-profile">
   <photoshop:CameraProfiles>
    <rdf:Seq>
     <rdf:li rdf:parseType="Resource">
      <stCamera:Author>Adobe Systems, Inc.</stCamera:Author>
      <stCamera:Make>Canon</stCamera:Make>
      <stCamera:Model>Canon EOS 5D Mark II</stCamera:Model>
      <stCamera:UniqueCameraModel>Canon EOS 5D Mark II</stCamera:UniqueCameraModel>
      <stCamera:CameraRawProfile>True</stCamera:CameraRawProfile>
      <stCamera:LensID>186</stCamera:LensID>
      <stCamera:Lens>EF70-200mm f/4L USM</stCamera:Lens>
      <stCamera:LensInfo>70/1 200/1 0/0 0/0</stCamera:LensInfo>
      <stCamera:CameraPrettyName>Canon EOS 5D Mark II</stCamera:CameraPrettyName>
      <stCamera:LensPrettyName>Canon EF 70-200mm f/4 L USM</stCamera:LensPrettyName>
      <stCamera:ProfileName>Adobe (Canon EF 70-200mm f/4 L USM)</stCamera:ProfileName>
      <stCamera:SensorFormatFactor>0.973055</stCamera:SensorFormatFactor>
      <stCamera:ImageWidth>5634</stCamera:ImageWidth>
      <stCamera:ImageLength>3753</stCamera:ImageLength>
      <stCamera:FocalLength>70</stCamera:FocalLength>
      <stCamera:FocusDistance>1.179107</stCamera:FocusDistance>
      <stCamera:ApertureValue>6.918863</stCamera:ApertureValue>
      <stCamera:PerspectiveModel rdf:parseType="Resource">
       <stCamera:Version>2</stCamera:Version>
       <stCamera:FocalLengthX>2.499921</stCamera:FocalLengthX>
       <stCamera:FocalLengthY>2.499921</stCamera:FocalLengthY>
       <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
       <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
       <stCamera:ResidualMeanError>0.000092</stCamera:ResidualMeanError>
       <stCamera:ResidualStandardDeviation>0.00006</stCamera:ResidualStandardDeviation>
       <stCamera:RadialDistortParam1>-0.096888</stCamera:RadialDistortParam1>
       <stCamera:RadialDistortParam2>0.511528</stCamera:RadialDistortParam2>
       <stCamera:RadialDistortParam3>-2.889912</stCamera:RadialDistortParam3>
       <stCamera:ChromaticRedGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>2.499907</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>2.499907</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.000087</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.000057</stCamera:ResidualStandardDeviation>
        <stCamera:ScaleFactor>1.000334</stCamera:ScaleFactor>
        <stCamera:RadialDistortParam1>-0.001126</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>-0.019692</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>0.127317</stCamera:RadialDistortParam3>
       </stCamera:ChromaticRedGreenModel>
       <stCamera:ChromaticGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>2.499907</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>2.499907</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.000087</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.000057</stCamera:ResidualStandardDeviation>
        <stCamera:RadialDistortParam1>-0.09691</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>0.510601</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>-2.877415</stCamera:RadialDistortParam3>
       </stCamera:ChromaticGreenModel>
       <stCamera:ChromaticBlueGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>2.499907</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>2.499907</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.000088</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.000057</stCamera:ResidualStandardDeviation>
        <stCamera:ScaleFactor>0.999888</stCamera:ScaleFactor>
        <stCamera:RadialDistortParam1>0.000975</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>0.030529</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>-0.236069</stCamera:RadialDistortParam3>
       </stCamera:ChromaticBlueGreenModel>
      </stCamera:PerspectiveModel>
     </rdf:li>
     <rdf:li rdf:parseType="Resource">
      <stCamera:Author>Adobe Systems, Inc.</stCamera:Author>
      <stCamera:Make>Canon</stCamera:Make>
      <stCamera:Model>Canon EOS 5D Mark II</stCamera:Model>
      <stCamera:UniqueCameraModel>Canon EOS 5D Mark II</stCamera:UniqueCameraModel>
      <stCamera:CameraRawProfile>True</stCamera:CameraRawProfile>
      <stCamera:LensID>186</stCamera:LensID>
      <stCamera:Lens>EF70-200mm f/4L USM</stCamera:Lens>
      <stCamera:LensInfo>70/1 200/1 0/0 0/0</stCamera:LensInfo>
      <stCamera:CameraPrettyName>Canon EOS 5D Mark II</stCamera:CameraPrettyName>
      <stCamera:LensPrettyName>Canon EF 70-200mm f/4 L USM</stCamera:LensPrettyName>
      <stCamera:ProfileName>Adobe (Canon EF 70-200mm f/4 L USM)</stCamera:ProfileName>
      <stCamera:SensorFormatFactor>0.973055</stCamera:SensorFormatFactor>
      <stCamera:ImageWidth>5634</stCamera:ImageWidth>
      <stCamera:ImageLength>3753</stCamera:ImageLength>
      <stCamera:FocalLength>70</stCamera:FocalLength>
      <stCamera:FocusDistance>1.9</stCamera:FocusDistance>
      <stCamera:ApertureValue>6.918863</stCamera:ApertureValue>
      <stCamera:PerspectiveModel rdf:parseType="Resource">
       <stCamera:Version>2</stCamera:Version>
       <stCamera:FocalLengthX>2.082682</stCamera:FocalLengthX>
       <stCamera:FocalLengthY>2.082682</stCamera:FocalLengthY>
       <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
       <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
       <stCamera:ResidualMeanError>0.000117</stCamera:ResidualMeanError>
       <stCamera:ResidualStandardDeviation>0.000162</stCamera:ResidualStandardDeviation>
       <stCamera:RadialDistortParam1>-0.267683</stCamera:RadialDistortParam1>
       <stCamera:RadialDistortParam2>0.807169</stCamera:RadialDistortParam2>
       <stCamera:RadialDistortParam3>-4.700541</stCamera:RadialDistortParam3>
       <stCamera:ChromaticRedGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>2.083</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>2.083</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.000111</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.000162</stCamera:ResidualStandardDeviation>
        <stCamera:ScaleFactor>1.000349</stCamera:ScaleFactor>
        <stCamera:RadialDistortParam1>-0.00002</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>-0.027543</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>0.204544</stCamera:RadialDistortParam3>
       </stCamera:ChromaticRedGreenModel>
       <stCamera:ChromaticGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>2.083</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>2.083</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.00011</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.000162</stCamera:ResidualStandardDeviation>
        <stCamera:RadialDistortParam1>-0.26746</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>0.8043</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>-4.684693</stCamera:RadialDistortParam3>
       </stCamera:ChromaticGreenModel>
       <stCamera:ChromaticBlueGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>2.083</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>2.083</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.000111</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.000162</stCamera:ResidualStandardDeviation>
        <stCamera:ScaleFactor>0.999936</stCamera:ScaleFactor>
        <stCamera:RadialDistortParam1>0.000019</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>0.031265</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>-0.245017</stCamera:RadialDistortParam3>
       </stCamera:ChromaticBlueGreenModel>
      </stCamera:PerspectiveModel>
     </rdf:li>
     <rdf:li rdf:parseType="Resource">
      <stCamera:Author>Adobe Systems, Inc.</stCamera:Author>
      <stCamera:Make>Canon</stCamera:Make>
      <stCamera:Model>Canon EOS 5D Mark II</stCamera:Model>
      <stCamera:UniqueCameraModel>Canon EOS 5D Mark II</stCamera:UniqueCameraModel>
      <stCamera:CameraRawProfile>True</stCamera:CameraRawProfile>
      <stCamera:LensID>186</stCamera:LensID>
      <stCamera:Lens>EF70-200mm f/4L USM</stCamera:Lens>
      <stCamera:LensInfo>70/1 200/1 0/0 0/0</stCamera:LensInfo>
      <stCamera:CameraPrettyName>Canon EOS 5D Mark II</stCamera:CameraPrettyName>
      <stCamera:LensPrettyName>Canon EF 70-200mm f/4 L USM</stCamera:LensPrettyName>
      <stCamera:ProfileName>Adobe (Canon EF 70-200mm f/4 L USM)</stCamera:ProfileName>
      <stCamera:SensorFormatFactor>0.973055</stCamera:SensorFormatFactor>
      <stCamera:ImageWidth>5634</stCamera:ImageWidth>
      <stCamera:ImageLength>3753</stCamera:ImageLength>
      <stCamera:FocalLength>70</stCamera:FocalLength>
      <stCamera:FocusDistance>5.915802</stCamera:FocusDistance>
      <stCamera:ApertureValue>6.918863</stCamera:ApertureValue>
      <stCamera:PerspectiveModel rdf:parseType="Resource">
       <stCamera:Version>2</stCamera:Version>
       <stCamera:FocalLengthX>1.920924</stCamera:FocalLengthX>
       <stCamera:FocalLengthY>1.920924</stCamera:FocalLengthY>
       <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
       <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
       <stCamera:ResidualMeanError>0.000327</stCamera:ResidualMeanError>
       <stCamera:ResidualStandardDeviation>0.000469</stCamera:ResidualStandardDeviation>
       <stCamera:RadialDistortParam1>-0.374328</stCamera:RadialDistortParam1>
       <stCamera:RadialDistortParam2>1.404096</stCamera:RadialDistortParam2>
       <stCamera:RadialDistortParam3>-6.765293</stCamera:RadialDistortParam3>
       <stCamera:ChromaticRedGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>1.920658</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>1.920658</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.000325</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.00047</stCamera:ResidualStandardDeviation>
        <stCamera:ScaleFactor>1.000372</stCamera:ScaleFactor>
        <stCamera:RadialDistortParam1>-0.001029</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>0.006397</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>-0.027365</stCamera:RadialDistortParam3>
       </stCamera:ChromaticRedGreenModel>
       <stCamera:ChromaticGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>1.920658</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>1.920658</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.000324</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.00047</stCamera:ResidualStandardDeviation>
        <stCamera:RadialDistortParam1>-0.374314</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>1.40466</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>-6.773895</stCamera:RadialDistortParam3>
       </stCamera:ChromaticGreenModel>
       <stCamera:ChromaticBlueGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>1.920658</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>1.920658</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.000324</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.00047</stCamera:ResidualStandardDeviation>
        <stCamera:ScaleFactor>0.999911</stCamera:ScaleFactor>
        <stCamera:RadialDistortParam1>0.0009</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>-0.003465</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>0.025898</stCamera:RadialDistortParam3>
       </stCamera:ChromaticBlueGreenModel>
      </stCamera:PerspectiveModel>
     </rdf:li>
     <rdf:li rdf:parseType="Resource">
      <stCamera:Author>Adobe Systems, Inc.</stCamera:Author>
      <stCamera:Make>Canon</stCamera:Make>
      <stCamera:Model>Canon EOS 5D Mark II</stCamera:Model>
      <stCamera:UniqueCameraModel>Canon EOS 5D Mark II</stCamera:UniqueCameraModel>
      <stCamera:CameraRawProfile>True</stCamera:CameraRawProfile>
      <stCamera:LensID>186</stCamera:LensID>
      <stCamera:Lens>EF70-200mm f/4L USM</stCamera:Lens>
      <stCamera:LensInfo>70/1 200/1 0/0 0/0</stCamera:LensInfo>
      <stCamera:CameraPrettyName>Canon EOS 5D Mark II</stCamera:CameraPrettyName>
      <stCamera:LensPrettyName>Canon EF 70-200mm f/4 L USM</stCamera:LensPrettyName>
      <stCamera:ProfileName>Adobe (Canon EF 70-200mm f/4 L USM)</stCamera:ProfileName>
      <stCamera:SensorFormatFactor>0.973055</stCamera:SensorFormatFactor>
      <stCamera:ImageWidth>5634</stCamera:ImageWidth>
      <stCamera:ImageLength>3753</stCamera:ImageLength>
      <stCamera:FocalLength>98</stCamera:FocalLength>
      <stCamera:FocusDistance>1.31066</stCamera:FocusDistance>
      <stCamera:ApertureValue>6.918863</stCamera:ApertureValue>
      <stCamera:PerspectiveModel rdf:parseType="Resource">
       <stCamera:Version>2</stCamera:Version>
       <stCamera:FocalLengthX>3.811414</stCamera:FocalLengthX>
       <stCamera:FocalLengthY>3.811414</stCamera:FocalLengthY>
       <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
       <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
       <stCamera:ResidualMeanError>0.000154</stCamera:ResidualMeanError>
       <stCamera:ResidualStandardDeviation>0.000142</stCamera:ResidualStandardDeviation>
       <stCamera:RadialDistortParam1>0.54474</stCamera:RadialDistortParam1>
       <stCamera:RadialDistortParam2>11.147308</stCamera:RadialDistortParam2>
       <stCamera:RadialDistortParam3>-205.621551</stCamera:RadialDistortParam3>
       <stCamera:ChromaticRedGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>3.811586</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>3.811586</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.000151</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.000141</stCamera:ResidualStandardDeviation>
        <stCamera:ScaleFactor>1.000185</stCamera:ScaleFactor>
        <stCamera:RadialDistortParam1>-0.001089</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>-0.081342</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>2.154519</stCamera:RadialDistortParam3>
       </stCamera:ChromaticRedGreenModel>
       <stCamera:ChromaticGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>3.811586</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>3.811586</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.00015</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.000141</stCamera:ResidualStandardDeviation>
        <stCamera:RadialDistortParam1>0.544937</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>11.161549</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>-205.893296</stCamera:RadialDistortParam3>
       </stCamera:ChromaticGreenModel>
       <stCamera:ChromaticBlueGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>3.811586</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>3.811586</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.000151</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.000141</stCamera:ResidualStandardDeviation>
        <stCamera:ScaleFactor>0.999808</stCamera:ScaleFactor>
        <stCamera:RadialDistortParam1>-0.00039</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>0.140513</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>-3.692684</stCamera:RadialDistortParam3>
       </stCamera:ChromaticBlueGreenModel>
      </stCamera:PerspectiveModel>
     </rdf:li>
     <rdf:li rdf:parseType="Resource">
      <stCamera:Author>Adobe Systems, Inc.</stCamera:Author>
      <stCamera:Make>Canon</stCamera:Make>
      <stCamera:Model>Canon EOS 5D Mark II</stCamera:Model>
      <stCamera:UniqueCameraModel>Canon EOS 5D Mark II</stCamera:UniqueCameraModel>
      <stCamera:CameraRawProfile>True</stCamera:CameraRawProfile>
      <stCamera:LensID>186</stCamera:LensID>
      <stCamera:Lens>EF70-200mm f/4L USM</stCamera:Lens>
      <stCamera:LensInfo>70/1 200/1 0/0 0/0</stCamera:LensInfo>
      <stCamera:CameraPrettyName>Canon EOS 5D Mark II</stCamera:CameraPrettyName>
      <stCamera:LensPrettyName>Canon EF 70-200mm f/4 L USM</stCamera:LensPrettyName>
      <stCamera:ProfileName>Adobe (Canon EF 70-200mm f/4 L USM)</stCamera:ProfileName>
      <stCamera:SensorFormatFactor>0.973055</stCamera:SensorFormatFactor>
      <stCamera:ImageWidth>5634</stCamera:ImageWidth>
      <stCamera:ImageLength>3753</stCamera:ImageLength>
      <stCamera:FocalLength>98</stCamera:FocalLength>
      <stCamera:FocusDistance>1.969714</stCamera:FocusDistance>
      <stCamera:ApertureValue>6.918863</stCamera:ApertureValue>
      <stCamera:PerspectiveModel rdf:parseType="Resource">
       <stCamera:Version>2</stCamera:Version>
       <stCamera:FocalLengthX>3.006825</stCamera:FocalLengthX>
       <stCamera:FocalLengthY>3.006825</stCamera:FocalLengthY>
       <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
       <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
       <stCamera:ResidualMeanError>0.000112</stCamera:ResidualMeanError>
       <stCamera:ResidualStandardDeviation>0.00015</stCamera:ResidualStandardDeviation>
       <stCamera:RadialDistortParam1>0.100667</stCamera:RadialDistortParam1>
       <stCamera:RadialDistortParam2>4.288852</stCamera:RadialDistortParam2>
       <stCamera:RadialDistortParam3>-51.268788</stCamera:RadialDistortParam3>
       <stCamera:ChromaticRedGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>3.006555</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>3.006555</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.000105</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.000148</stCamera:ResidualStandardDeviation>
        <stCamera:ScaleFactor>1.000224</stCamera:ScaleFactor>
        <stCamera:RadialDistortParam1>-0.002285</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>0.034951</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>-0.651135</stCamera:RadialDistortParam3>
       </stCamera:ChromaticRedGreenModel>
       <stCamera:ChromaticGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>3.006555</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>3.006555</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.000105</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.000148</stCamera:ResidualStandardDeviation>
        <stCamera:RadialDistortParam1>0.101255</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>4.256469</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>-50.742695</stCamera:RadialDistortParam3>
       </stCamera:ChromaticGreenModel>
       <stCamera:ChromaticBlueGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>3.006555</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>3.006555</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.000106</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.000148</stCamera:ResidualStandardDeviation>
        <stCamera:ScaleFactor>0.999824</stCamera:ScaleFactor>
        <stCamera:RadialDistortParam1>0.000965</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>0.019057</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>-0.212105</stCamera:RadialDistortParam3>
       </stCamera:ChromaticBlueGreenModel>
      </stCamera:PerspectiveModel>
     </rdf:li>
     <rdf:li rdf:parseType="Resource">
      <stCamera:Author>Adobe Systems, Inc.</stCamera:Author>
      <stCamera:Make>Canon</stCamera:Make>
      <stCamera:Model>Canon EOS 5D Mark II</stCamera:Model>
      <stCamera:UniqueCameraModel>Canon EOS 5D Mark II</stCamera:UniqueCameraModel>
      <stCamera:CameraRawProfile>True</stCamera:CameraRawProfile>
      <stCamera:LensID>186</stCamera:LensID>
      <stCamera:Lens>EF70-200mm f/4L USM</stCamera:Lens>
      <stCamera:LensInfo>70/1 200/1 0/0 0/0</stCamera:LensInfo>
      <stCamera:CameraPrettyName>Canon EOS 5D Mark II</stCamera:CameraPrettyName>
      <stCamera:LensPrettyName>Canon EF 70-200mm f/4 L USM</stCamera:LensPrettyName>
      <stCamera:ProfileName>Adobe (Canon EF 70-200mm f/4 L USM)</stCamera:ProfileName>
      <stCamera:SensorFormatFactor>0.973055</stCamera:SensorFormatFactor>
      <stCamera:ImageWidth>5634</stCamera:ImageWidth>
      <stCamera:ImageLength>3753</stCamera:ImageLength>
      <stCamera:FocalLength>98</stCamera:FocalLength>
      <stCamera:FocusDistance>6.013079</stCamera:FocusDistance>
      <stCamera:ApertureValue>6.918863</stCamera:ApertureValue>
      <stCamera:PerspectiveModel rdf:parseType="Resource">
       <stCamera:Version>2</stCamera:Version>
       <stCamera:FocalLengthX>2.643157</stCamera:FocalLengthX>
       <stCamera:FocalLengthY>2.643157</stCamera:FocalLengthY>
       <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
       <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
       <stCamera:ResidualMeanError>0.000248</stCamera:ResidualMeanError>
       <stCamera:ResidualStandardDeviation>0.000384</stCamera:ResidualStandardDeviation>
       <stCamera:RadialDistortParam1>-0.158215</stCamera:RadialDistortParam1>
       <stCamera:RadialDistortParam2>5.993875</stCamera:RadialDistortParam2>
       <stCamera:RadialDistortParam3>-60.359472</stCamera:RadialDistortParam3>
       <stCamera:ChromaticRedGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>2.643344</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>2.643344</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.000245</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.000384</stCamera:ResidualStandardDeviation>
        <stCamera:ScaleFactor>1.000241</stCamera:ScaleFactor>
        <stCamera:RadialDistortParam1>-0.001521</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>0.005768</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>-0.051848</stCamera:RadialDistortParam3>
       </stCamera:ChromaticRedGreenModel>
       <stCamera:ChromaticGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>2.643344</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>2.643344</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.000244</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.000384</stCamera:ResidualStandardDeviation>
        <stCamera:RadialDistortParam1>-0.15793</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>5.990418</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>-60.356458</stCamera:RadialDistortParam3>
       </stCamera:ChromaticGreenModel>
       <stCamera:ChromaticBlueGreenModel rdf:parseType="Resource">
        <stCamera:FocalLengthX>2.643344</stCamera:FocalLengthX>
        <stCamera:FocalLengthY>2.643344</stCamera:FocalLengthY>
        <stCamera:ImageXCenter>0.5</stCamera:ImageXCenter>
        <stCamera:ImageYCenter>0.499867</stCamera:ImageYCenter>
        <stCamera:ResidualMeanError>0.000244</stCamera:ResidualMeanError>
        <stCamera:ResidualStandardDeviation>0.000384</stCamera:ResidualStandardDeviation>
        <stCamera:ScaleFactor>0.999836</stCamera:ScaleFactor>
        <stCamera:RadialDistortParam1>0.001279</stCamera:RadialDistortParam1>
        <stCamera:RadialDistortParam2>-0.000965</stCamera:RadialDistortParam2>
        <stCamera:RadialDistortParam3>0.035564</stCamera:RadialDistortParam3>
       </stCamera:ChromaticBlueGreenModel>
      </stCamera:PerspectiveModel>
     </rdf:li>
     <rdf:li rdf:parseType="Resource">
      <stCamera:Author>Adobe Systems, Inc.</stCamera:Author>
      <stCamera:Make>Canon</stCamera:Make>
      <stCamera:Model>Canon EOS 5D Mark II</stCamera:Model>
      <stCamera:UniqueCameraModel>Canon EOS 5D Mark II</stCamera:UniqueCameraModel>
      <stCamera:CameraRawProfile>True</stCamera:CameraRawProfile>
      <stCamera:LensID>186</stCamera:LensID>
      <stCamera:Lens>EF70-200mm f/4L USM</stCamera:Lens>
      <stCamera:LensInfo>70/1 200/1 0/0 0/0</stCamera:LensInfo>
      <stCamera:CameraPrettyName>Canon EOS 5D Mark II</stCamera:CameraPrettyName>
      <stCamera:LensPrettyName>Canon EF 70-200mm f/4 L USM</stCamera:LensPrettyName>
      <stCamera:ProfileName>Adobe (Canon EF 70-200mm f/4 L USM)</stCamera:ProfileName>
      <stCamera:SensorFormatFactor>0.973055</stCamera:SensorFormatFactor>
      <stCamera:ImageWidth>5634</stCamera:ImageWidth>
      <stCamera:ImageLength>3753</stCamera:ImageLength>
      <stCamera:FocalLength>131</stCamera:FocalLength>
      <stCamera:FocusDistance>1.246125</stCamera:FocusDistance>
      <stCamera:ApertureValue>6.918863</stCamera:ApertureValue>
      <stCamera:PerspectiveModel rdf:p