<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c128 79.159124, 2016/03/18-14:01:55        ">
 <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
  <rdf:Description rdf:about=""
    xmlns:photoshop="http://ns.adobe.com/photoshop/1.0/"
    xmlns:stCamera="http://ns.adobe.com/photoshop/1.0/camera-profile">
   <photoshop:CameraProfiles>
    <rdf:Seq>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="Canon"
       stCamera:Model="Canon EOS 50D"
       stCamera:UniqueCameraModel="Canon EOS 50D"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="4158"
       stCamera:Lens="EF-S18-55mm f/4-5.6 IS STM"
       stCamera:LensInfo="18/1 55/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon EOS 50D"
       stCamera:LensPrettyName="Canon EF-S 18-55mm f/4-5.6 IS STM"
       stCamera:ProfileName="Adobe (Canon EF-S 18-55mm f/4-5.6 IS STM)"
       stCamera:SensorFormatFactor="1.6"
       stCamera:ImageWidth="4770"
       stCamera:ImageLength="3177"
       stCamera:FocalLength="18"
       stCamera:FocusDistance="0.34"
       stCamera:ApertureValue="6">
      <stCamera:PerspectiveModel
       stCamera:Version="2"
       stCamera:FocalLengthX="0.77147"
       stCamera:FocalLengthY="0.77147"
       stCamera:ImageXCenter="0.490322"
       stCamera:ImageYCenter="0.496444"
       stCamera:ResidualMeanError="0.000203"
       stCamera:ResidualStandardDeviation="0.000134"
       stCamera:RadialDistortParam1="-0.19234"
       stCamera:RadialDistortParam2="0.132217"
       stCamera:RadialDistortParam3="-0.008323"/>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="Canon"
       stCamera:Model="Canon EOS 50D"
       stCamera:UniqueCameraModel="Canon EOS 50D"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="4158"
       stCamera:Lens="EF-S18-55mm f/4-5.6 IS STM"
       stCamera:LensInfo="18/1 55/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon EOS 50D"
       stCamera:LensPrettyName="Canon EF-S 18-55mm f/4-5.6 IS STM"
       stCamera:ProfileName="Adobe (Canon EF-S 18-55mm f/4-5.6 IS STM)"
       stCamera:SensorFormatFactor="1.6"
       stCamera:ImageWidth="4770"
       stCamera:ImageLength="3177"
       stCamera:FocalLength="18"
       stCamera:FocusDistance="1.47"
       stCamera:ApertureValue="6">
      <stCamera:PerspectiveModel
       stCamera:Version="2"
       stCamera:FocalLengthX="0.815416"
       stCamera:FocalLengthY="0.815416"
       stCamera:ImageXCenter="0.492838"
       stCamera:ImageYCenter="0.518553"
       stCamera:ResidualMeanError="0.000143"
       stCamera:ResidualStandardDeviation="0.000105"
       stCamera:RadialDistortParam1="-0.182548"
       stCamera:RadialDistortParam2="0.168231"
       stCamera:RadialDistortParam3="-0.012215"/>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="Canon"
       stCamera:Model="Canon EOS 50D"
       stCamera:UniqueCameraModel="Canon EOS 50D"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="4158"
       stCamera:Lens="EF-S18-55mm f/4-5.6 IS STM"
       stCamera:LensInfo="18/1 55/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon EOS 50D"
       stCamera:LensPrettyName="Canon EF-S 18-55mm f/4-5.6 IS STM"
       stCamera:ProfileName="Adobe (Canon EF-S 18-55mm f/4-5.6 IS STM)"
       stCamera:SensorFormatFactor="1.6"
       stCamera:ImageWidth="4770"
       stCamera:ImageLength="3177"
       stCamera:FocalLength="18"
       stCamera:FocusDistance="2.36"
       stCamera:ApertureValue="6">
      <stCamera:PerspectiveModel
       stCamera:Version="2"
       stCamera:FocalLengthX="0.806378"
       stCamera:FocalLengthY="0.806378"
       stCamera:ImageXCenter="0.493228"
       stCamera:ImageYCenter="0.513307"
       stCamera:ResidualMeanError="0.000122"
       stCamera:ResidualStandardDeviation="0.000115"
       stCamera:RadialDistortParam1="-0.181503"
       stCamera:RadialDistortParam2="0.162044"
       stCamera:RadialDistortParam3="-0.013118"/>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="Canon"
       stCamera:Model="Canon EOS 50D"
       stCamera:UniqueCameraModel="Canon EOS 50D"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="4158"
       stCamera:Lens="EF-S18-55mm f/4-5.6 IS STM"
       stCamera:LensInfo="18/1 55/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon EOS 50D"
       stCamera:LensPrettyName="Canon EF-S 18-55mm f/4-5.6 IS STM"
       stCamera:ProfileName="Adobe (Canon EF-S 18-55mm f/4-5.6 IS STM)"
       stCamera:SensorFormatFactor="1.6"
       stCamera:ImageWidth="4770"
       stCamera:ImageLength="3177"
       stCamera:FocalLength="24"
       stCamera:FocusDistance="0.4"
       stCamera:ApertureValue="6">
      <stCamera:PerspectiveModel
       stCamera:Version="2"
       stCamera:FocalLengthX="0.995881"
       stCamera:FocalLengthY="0.995881"
       stCamera:ImageXCenter="0.490755"
       stCamera:ImageYCenter="0.519972"
       stCamera:ResidualMeanError="0.000278"
       stCamera:ResidualStandardDeviation="0.000263"
       stCamera:RadialDistortParam1="-0.122717"
       stCamera:RadialDistortParam2="0.080841"
       stCamera:RadialDistortParam3="0.154398"/>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="Canon"
       stCamera:Model="Canon EOS 50D"
       stCamera:UniqueCameraModel="Canon EOS 50D"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="4158"
       stCamera:Lens="EF-S18-55mm f/4-5.6 IS STM"
       stCamera:LensInfo="18/1 55/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon EOS 50D"
       stCamera:LensPrettyName="Canon EF-S 18-55mm f/4-5.6 IS STM"
       stCamera:ProfileName="Adobe (Canon EF-S 18-55mm f/4-5.6 IS STM)"
       stCamera:SensorFormatFactor="1.6"
       stCamera:ImageWidth="4770"
       stCamera:ImageLength="3177"
       stCamera:FocalLength="24"
       stCamera:FocusDistance="1.86"
       stCamera:ApertureValue="6">
      <stCamera:PerspectiveModel
       stCamera:Version="2"
       stCamera:FocalLengthX="1.063491"
       stCamera:FocalLengthY="1.063491"
       stCamera:ImageXCenter="0.494443"
       stCamera:ImageYCenter="0.518184"
       stCamera:ResidualMeanError="0.000158"
       stCamera:ResidualStandardDeviation="0.000142"
       stCamera:RadialDistortParam1="-0.09795"
       stCamera:RadialDistortParam2="0.175976"
       stCamera:RadialDistortParam3="0.122606"/>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="Canon"
       stCamera:Model="Canon EOS 50D"
       stCamera:UniqueCameraModel="Canon EOS 50D"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="4158"
       stCamera:Lens="EF-S18-55mm f/4-5.6 IS STM"
       stCamera:LensInfo="18/1 55/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon EOS 50D"
       stCamera:LensPrettyName="Canon EF-S 18-55mm f/4-5.6 IS STM"
       stCamera:ProfileName="Adobe (Canon EF-S 18-55mm f/4-5.6 IS STM)"
       stCamera:SensorFormatFactor="1.6"
       stCamera:ImageWidth="4770"
       stCamera:ImageLength="3177"
       stCamera:FocalLength="24"
       stCamera:FocusDistance="2.09"
       stCamera:ApertureValue="6">
      <stCamera:PerspectiveModel
       stCamera:Version="2"
       stCamera:FocalLengthX="1.047129"
       stCamera:FocalLengthY="1.047129"
       stCamera:ImageXCenter="0.494027"
       stCamera:ImageYCenter="0.514032"
       stCamera:ResidualMeanError="0.00012"
       stCamera:ResidualStandardDeviation="0.000072"
       stCamera:RadialDistortParam1="-0.10489"
       stCamera:RadialDistortParam2="0.201883"
       stCamera:RadialDistortParam3="0.022438"/>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="Canon"
       stCamera:Model="Canon EOS 50D"
       stCamera:UniqueCameraModel="Canon EOS 50D"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="4158"
       stCamera:Lens="EF-S18-55mm f/4-5.6 IS STM"
       stCamera:LensInfo="18/1 55/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon EOS 50D"
       stCamera:LensPrettyName="Canon EF-S 18-55mm f/4-5.6 IS STM"
       stCamera:ProfileName="Adobe (Canon EF-S 18-55mm f/4-5.6 IS STM)"
       stCamera:SensorFormatFactor="1.6"
       stCamera:ImageWidth="4770"
       stCamera:ImageLength="3177"
       stCamera:FocalLength="35"
       stCamera:FocusDistance="0.5"
       stCamera:ApertureValue="6">
      <stCamera:PerspectiveModel
       stCamera:Version="2"
       stCamera:FocalLengthX="1.403509"
       stCamera:FocalLengthY="1.403509"
       stCamera:ImageXCenter="0.500428"
       stCamera:ImageYCenter="0.524403"
       stCamera:ResidualMeanError="0.000267"
       stCamera:ResidualStandardDeviation="0.000249"
       stCamera:RadialDistortParam1="-0.011051"
       stCamera:RadialDistortParam2="-0.064437"
       stCamera:RadialDistortParam3="1.4002"/>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="Canon"
       stCamera:Model="Canon EOS 50D"
       stCamera:UniqueCameraModel="Canon EOS 50D"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="4158"
       stCamera:Lens="EF-S18-55mm f/4-5.6 IS STM"
       stCamera:LensInfo="18/1 55/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon EOS 50D"
       stCamera:LensPrettyName="Canon EF-S 18-55mm f/4-5.6 IS STM"
       stCamera:ProfileName="Adobe (Canon EF-S 18-55mm f/4-5.6 IS STM)"
       stCamera:SensorFormatFactor="1.6"
       stCamera:ImageWidth="4770"
       stCamera:ImageLength="3177"
       stCamera:FocalLength="35"
       stCamera:FocusDistance="2.72"
       stCamera:ApertureValue="6">
      <stCamera:PerspectiveModel
       stCamera:Version="2"
       stCamera:FocalLengthX="1.535362"
       stCamera:FocalLengthY="1.535362"
       stCamera:ImageXCenter="0.495133"
       stCamera:ImageYCenter="0.51649"
       stCamera:ResidualMeanError="0.000158"
       stCamera:ResidualStandardDeviation="0.000149"
       stCamera:RadialDistortParam1="0.06607"
       stCamera:RadialDistortParam2="0.203331"
       stCamera:RadialDistortParam3="1.382174"/>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="Canon"
       stCamera:Model="Canon EOS 50D"
       stCamera:UniqueCameraModel="Canon EOS 50D"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="4158"
       stCamera:Lens="EF-S18-55mm f/4-5.6 IS STM"
       stCamera:LensInfo="18/1 55/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon EOS 50D"
       stCamera:LensPrettyName="Canon EF-S 18-55mm f/4-5.6 IS STM"
       stCamera:ProfileName="Adobe (Canon EF-S 18-55mm f/4-5.6 IS STM)"
       stCamera:SensorFormatFactor="1.6"
       stCamera:ImageWidth="4770"
       stCamera:ImageLength="3177"
       stCamera:FocalLength="35"
       stCamera:FocusDistance="3.22"
       stCamera:ApertureValue="6">
      <stCamera:PerspectiveModel
       stCamera:Version="2"
       stCamera:FocalLengthX="1.504757"
       stCamera:FocalLengthY="1.504757"
       stCamera:ImageXCenter="0.495439"
       stCamera:ImageYCenter="0.514307"
       stCamera:ResidualMeanError="0.000104"
       stCamera:ResidualStandardDeviation="0.000081"
       stCamera:RadialDistortParam1="0.051879"
       stCamera:RadialDistortParam2="0.303852"
       stCamera:RadialDistortParam3="0.578484"/>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="Canon"
       stCamera:Model="Canon EOS 50D"
       stCamera:UniqueCameraModel="Canon EOS 50D"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="4158"
       stCamera:Lens="EF-S18-55mm f/4-5.6 IS STM"
       stCamera:LensInfo="18/1 55/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon EOS 50D"
       stCamera:LensPrettyName="Canon EF-S 18-55mm f/4-5.6 IS STM"
       stCamera:ProfileName="Adobe (Canon EF-S 18-55mm f/4-5.6 IS STM)"
       stCamera:SensorFormatFactor="1.6"
       stCamera:ImageWidth="4770"
       stCamera:ImageLength="3177"
       stCamera:FocalLength="55"
       stCamera:FocusDistance="0.7"
       stCamera:ApertureValue="6">
      <stCamera:PerspectiveModel
       stCamera:Version="2"
       stCamera:FocalLengthX="1.746915"
       stCamera:FocalLengthY="1.746915"
       stCamera:ImageXCenter="0.5"
       stCamera:ImageYCenter="0.499843"
       stCamera:ResidualMeanError="0.000274"
       stCamera:ResidualStandardDeviation="0.000216"
       stCamera:RadialDistortParam1="0.117646"
       stCamera:RadialDistortParam2="-0.292668"
       stCamera:RadialDistortParam3="4.431932"/>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="Canon"
       stCamera:Model="Canon EOS 50D"
       stCamera:UniqueCameraModel="Canon EOS 50D"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="4158"
       stCamera:Lens="EF-S18-55mm f/4-5.6 IS STM"
       stCamera:LensInfo="18/1 55/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon EOS 50D"
       stCamera:LensPrettyName="Canon EF-S 18-55mm f/4-5.6 IS STM"
       stCamera:ProfileName="Adobe (Canon EF-S 18-55mm f/4-5.6 IS STM)"
       stCamera:SensorFormatFactor="1.6"
       stCamera:ImageWidth="4770"
       stCamera:ImageLength="3177"
       stCamera:FocalLength="55"
       stCamera:FocusDistance="3.22"
       stCamera:ApertureValue="6">
      <stCamera:PerspectiveModel
       stCamera:Version="2"
       stCamera:FocalLengthX="2.269968"
       stCamera:FocalLengthY="2.269968"
       stCamera:ImageXCenter="0.5"
       stCamera:ImageYCenter="0.499843"
       stCamera:ResidualMeanError="0.000158"
       stCamera:ResidualStandardDeviation="0.000095"
       stCamera:RadialDistortParam1="0.305509"
       stCamera:RadialDistortParam2="0.922611"
       stCamera:RadialDistortParam3="4.464321"/>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="Canon"
       stCamera:Model="Canon EOS 50D"
       stCamera:UniqueCameraModel="Canon EOS 50D"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="4158"
       stCamera:Lens="EF-S18-55mm f/4-5.6 IS STM"
       stCamera:LensInfo="18/1 55/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon EOS 50D"
       stCamera:LensPrettyName="Canon EF-S 18-55mm f/4-5.6 IS STM"
       stCamera:ProfileName="Adobe (Canon EF-S 18-55mm f/4-5.6 IS STM)"
       stCamera:SensorFormatFactor="1.6"
       stCamera:ImageWidth="4770"
       stCamera:ImageLength="3177"
       stCamera:FocalLength="55"
       stCamera:FocusDistance="5.1"
       stCamera:ApertureValue="6">
      <stCamera:PerspectiveModel
       stCamera:Version="2"
       stCamera:FocalLengthX="2.452849"
       stCamera:FocalLengthY="2.452849"
       stCamera:ImageXCenter="0.5"
       stCamera:ImageYCenter="0.499843"
       stCamera:ResidualMeanError="0.000122"
       stCamera:ResidualStandardDeviation="0.000098"
       stCamera:RadialDistortParam1="0.419844"
       stCamera:RadialDistortParam2="0.486293"
       stCamera:RadialDistortParam3="11.632136"/>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="Canon"
       stCamera:Model="Canon EOS 50D"
       stCamera:UniqueCameraModel="Canon EOS 50D"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="4158"
       stCamera:Lens="EF-S18-55mm f/4-5.6 IS STM"
       stCamera:LensInfo="18/1 55/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon EOS 50D"
       stCamera:LensPrettyName="Canon EF-S 18-55mm f/4-5.6 IS STM"
       stCamera:ProfileName="Adobe (Canon EF-S 18-55mm f/4-5.6 IS STM)"
       stCamera:SensorFormatFactor="1.6"
       stCamera:ImageWidth="4770"
       stCamera:ImageLength="3177"
       stCamera:FocalLength="18"
       stCamera:FocusDistance="0.5"
       stCamera:ApertureValue="4">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:FocalLengthX="0.789764"
        stCamera:FocalLengthY="0.789764"
        stCamera:ImageXCenter="0.491369"
        stCamera:ImageYCenter="0.505648"
        stCamera:RadialDistortParam1="-0.181688"
        stCamera:RadialDistortParam2="0.147066"
        stCamera:RadialDistortParam3="-0.00991">
       <stCamera:VignetteModel
        stCamera:FocalLengthX="0.789764"
        stCamera:FocalLengthY="0.789764"
        stCamera:VignetteModelParam1="-1.132466"
        stCamera:VignetteModelParam2="1.073101"
        stCamera:VignetteModelParam3="-1.970737"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="Canon"
       stCamera:Model="Canon EOS 50D"
       stCamera:UniqueCameraModel="Canon EOS 50D"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="4158"
       stCamera:Lens="EF-S18-55mm f/4-5.6 IS STM"
       stCamera:LensInfo="18/1 55/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon EOS 50D"
       stCamera:LensPrettyName="Canon EF-S 18-55mm f/4-5.6 IS STM"
       stCamera:ProfileName="Adobe (Canon EF-S 18-55mm f/4-5.6 IS STM)"
       stCamera:SensorFormatFactor="1.6"
       stCamera:ImageWidth="4770"
       stCamera:ImageLength="3177"
       stCamera:FocalLength="18"
       stCamera:FocusDistance="0.5"
       stCamera:ApertureValue="4.970854">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:FocalLengthX="0.789764"
        stCamera:FocalLengthY="0.789764"
        stCamera:ImageXCenter="0.491369"
        stCamera:ImageYCenter="0.505648"
        stCamera:RadialDistortParam1="-0.181688"
        stCamera:RadialDistortParam2="0.147066"
        stCamera:RadialDistortParam3="-0.00991">
       <stCamera:VignetteModel
        stCamera:FocalLengthX="0.789764"
        stCamera:FocalLengthY="0.789764"
        stCamera:VignetteModelParam1="-0.317544"
        stCamera:VignetteModelParam2="-0.803294"
        stCamera:VignetteModelParam3="-0.060275"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="Canon"
       stCamera:Model="Canon EOS 50D"
       stCamera:UniqueCameraModel="Canon EOS 50D"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="4158"
       stCamera:Lens="EF-S18-55mm f/4-5.6 IS STM"
       stCamera:LensInfo="18/1 55/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon EOS 50D"
       stCamera:LensPrettyName="Canon EF-S 18-55mm f/4-5.6 IS STM"
       stCamera:ProfileName="Adobe (Canon EF-S 18-55mm f/4-5.6 IS STM)"
       stCamera:SensorFormatFactor="1.6"
       stCamera:ImageWidth="4770"
       stCamera:ImageLength="3177"
       stCamera:FocalLength="18"
       stCamera:FocusDistance="0.5"
       stCamera:ApertureValue="6">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:FocalLengthX="0.789764"
        stCamera:FocalLengthY="0.789764"
        stCamera:ImageXCenter="0.491369"
        stCamera:ImageYCenter="0.505648"
        stCamera:RadialDistortParam1="-0.181688"
        stCamera:RadialDistortParam2="0.147066"
        stCamera:RadialDistortParam3="-0.00991">
       <stCamera:VignetteModel
        stCamera:FocalLengthX="0.789764"
        stCamera:FocalLengthY="0.789764"
        stCamera:VignetteModelParam1="-0.426927"
        stCamera:VignetteModelParam2="0.058014"
        stCamera:VignetteModelParam3="-0.383972"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="Canon"
       stCamera:Model="Canon EOS 50D"
       stCamera:UniqueCameraModel="Canon EOS 50D"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="4158"
       stCamera:Lens="EF-S18-55mm f/4-5.6 IS STM"
       stCamera:LensInfo="18/1 55/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon EOS 50D"
       stCamera:LensPrettyName="Canon EF-S 18-55mm f/4-5.6 IS STM"
       stCamera:ProfileName="Adobe (Canon EF-S 18-55mm f/4-5.6 IS STM)"
       stCamera:SensorFormatFactor="1.6"
       stCamera:ImageWidth="4770"
       stCamera:ImageLength="3177"
       stCamera:FocalLength="18"
       stCamera:FocusDistance="0.5"
       stCamera:ApertureValue="6.918863">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:FocalLengthX="0.789764"
        stCamera:FocalLengthY="0.789764"
        stCamera:ImageXCenter="0.491369"
        stCamera:ImageYCenter="0.505648"
        stCamera:RadialDistortParam1="-0.181688"
        stCamera:RadialDistortParam2="0.147066"
        stCamera:RadialDistortParam3="-0.00991">
       <stCamera:VignetteModel
        stCamera:FocalLengthX="0.789764"
        stCamera:FocalLengthY="0.789764"
        stCamera:VignetteModelParam1="-0.373089"
        stCamera:VignetteModelParam2="-0.316028"
        stCamera:VignetteModelParam3="0.257671"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe (www.adobe.com)"
       stCamera:Make="Canon"
       stCamera:Model="Canon EOS 50D"
       stCamera:UniqueCameraModel="Canon EOS 50D"
       stCamera:CameraRawProfile="True"
       stCamera:LensID="4158"
       stCamera:Lens="EF-S18-55mm f/4-5.6 IS STM"
       stCamera:LensInfo="18/1 55/1 0/0 0/0"
       stCamera:CameraPrettyName="Canon EOS 50D"
       stCamera:LensPrettyName="Canon EF-S 18-55mm f/4-5.6 IS STM"
       stCamera:ProfileName="Adobe (Canon EF-S 18-55mm f/4-5.6 IS STM)"
       stCamera:SensorFormatFactor="1.6"
       stCamera:ImageWidth="4770"
       stCamera:ImageLength="3177"
   