.fon {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; BACKGROUND: rgb(230,230,230); COLOR: black; FONT-FAMILY: "Courier New"
}
.comm {
	COLOR: green; FONT-STYLE: italic
}
:link {
	COLOR: blueviolet
}
TH {
	FONT-SIZE: 12px; BACKGROUND: rgb(180,180,180)
}
TD {
	FONT-SIZE: 12px
}
TABLE {
	FONT-SIZE: 12px; COLOR: black
}
H2 {
	FONT-SIZE: 15px; COLOR: black; TEXT-ALIGN: center
}
BODY {
	FONT-SIZE: 12px; BACKGROUND: url(../images/Backg8.gif) rgb(219,248,254); COLOR: blue; FONT-FAMILY: "Times New Roman"; TEXT-ALIGN: justify
}
#mnu {
	Z-INDEX: 5; LEFT: 2px; WIDTH: 765px; POSITION: absolute; TOP: 85px; HEIGHT: 10px; BACKGROUND-COLOR: #993366; align: center
}
#animate {
	BACKGROUND: url(../images/animat.gif) rgb(219,248,254); LEFT: 705px; WIDTH: 55px; POSITION: absolute; TOP: 2px; HEIGHT: 70px
}
#zag {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: 1px ridge; BACKGROUND: url(../images/111.jpg) rgb(219,248,254); LEFT: 2px; BORDER-LEFT: 1px ridge; WIDTH: 765px; BORDER-BOTTOM: 1px ridge; POSITION: absolute; TOP: 2px; HEIGHT: 80px
}
#top {
	BORDER-RIGHT: 1px ridge; PADDING-RIGHT: 5px; BORDER-TOP: 1px ridge; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 20px; BACKGROUND: blue; LEFT: 2px; BORDER-LEFT: 1px ridge; WIDTH: 765px; COLOR: yellow; BORDER-BOTTOM: 1px ridge; POSITION: absolute; TOP: 105px; HEIGHT: 70px; TEXT-ALIGN: right
}
#bottom {
	BORDER-RIGHT: 1px ridge; PADDING-RIGHT: 5px; BORDER-TOP: 1px ridge; PADDING-LEFT: 5px; FONT-SIZE: 15px; BACKGROUND: url(../images/12.jpg) rgb(219,248,254); LEFT: 2px; BORDER-LEFT: 1px ridge; WIDTH: 765px; COLOR: blue; BORDER-BOTTOM: 1px ridge; FONT-FAMILY: "Times New Roman"; POSITION: absolute; TOP: 180px; TEXT-ALIGN: justify
}
#bottom1 {
	BORDER-RIGHT: 1px ridge; PADDING-RIGHT: 5px; BORDER-TOP: 1px ridge; PADDING-LEFT: 5px; FONT-SIZE: 15px; BACKGROUND: url(../images/12.jpg) rgb(219,248,254); LEFT: 2px; BORDER-LEFT: 1px ridge; WIDTH: 765px; COLOR: blue; BORDER-BOTTOM: 1px ridge; FONT-FAMILY: "Times New Roman"; POSITION: absolute; TOP: 20px; TEXT-ALIGN: justify
}
