/*-#8F7974;-*/
body{
margin: 0px 10% 200px 10%;
text-align: justify;
font-size: 16pt;
color: #FFE4A9 ;
background-color: #7F6964;
font-style: normal;
font-family: "Arial", serif;
font-weight: normal;
text-decoration: none;}
B{color: #fff}
P{text-indent: 20px; margin: 0}
P.FNOTE{color: #333333;}
.FAN{color: #C1C1C1;}
UL{margin: 0px}
PRE{
margin: 8px 0px 8px 0px;
font-size: 12pt;
font-family: monospace;
color: #FFF;
padding: 4px}
PRE.CODE{
color: #DDD;
background-color: #477777;
border-width: 1;
border-style: solid;}
.SRC{
color: #fff;
background-color: #5E5D73;
border-width: 1;
border-style: solid;}
TABLE{
color: #ddd;
font-size: 15pt;
font-family: monospace;}
TABLE.DESCR{
font-family: monospace;
color: #FFE4A9;
background-color: #897373;}
TABLE.CMD{
background-color: #9A6767;
margin: 0px 0px 15px;}
h1,h2{text-align: center;}
h3{margin: 12px,0px,10px,0px; font-size: 18pt;} 
h4{margin: 1px; color: #FFF4F9; font-size: 17pt;} 
